<!--
Note: this view is used in both the sign up flow and at /get-starter-bitclout
If you modify it, be sure to QA that both locations are ok.

If I were doing this again, I'd probably try to find a different way to share
HTML / ts than what I did here. If this is causing problems for you, LMK and I
can refactor.
-->

<div *ngIf="screenToShow == SignUpGetStarterBitcloutComponent.CREATE_PHONE_NUMBER_VERIFICATION_SCREEN">
  <div *ngIf="displayForSignupFlow">
    <div class="mt-15px fs-15px fc-muted">STEP 3 of 4</div>
    <div class="mt-15px fs-24px font-weight-bold">Get Starter BitClout</div>

    <div class="fs-18px mt-15px mb-15px">BitClout is a cryptocurrency that's required to use the site.</div>
  </div>

  <div class="fs-18px">
    Verify your phone number for free BitClout. Your phone number will never be shared with anyone.
  </div>

  <form #f="ngForm" [formGroup]="phoneForm" class="form-group mt-15px">
    <ngx-intl-tel-input
      style="font-size: 15px !important"
      [cssClass]="'form-control sign-up__phone-input'"
      [separateDialCode]="true"
      [enableAutoCountrySelect]="true"
      [enablePlaceholder]="true"
      [searchCountryFlag]="true"
      [selectFirstCountry]="false"
      [selectedCountryISO]="CountryISO.UnitedStates"
      [maxLength]="15"
      [phoneValidation]="true"
      (ngModelChange)="onPhoneNumberInputChanged()"
      name="phone"
      formControlName="phone"
    ></ngx-intl-tel-input>

    <div class="fc-red fs-15px">
      <!-- TODO: kinda obnoxious how this displays an error as soon as I start typing-->
      <div *ngIf="f.form.value.phone && f.form.controls.phone.invalid" class="mt-10px">
        Please enter a valid phone number
      </div>

      <div *ngIf="sendPhoneNumberVerificationTextServerErrors.phoneNumberAlreadyInUse" class="mt-10px">
        This phone number is being used by another account. Please use a different phone number or sign into your other
        account.
      </div>

      <div *ngIf="sendPhoneNumberVerificationTextServerErrors.maxSendAttemptsReached" class="mt-10px">
        You've requested too many verification codes. Please wait 10 minutes and try again.
      </div>

      <div *ngIf="sendPhoneNumberVerificationTextServerErrors.voipNumberNotAllowed" class="mt-10px">
        This phone number is a VOIP number, which isn't allowed (to prevent spam). Please try again with a different
        phone number.
      </div>

      <div *ngIf="sendPhoneNumberVerificationTextServerErrors.chineseNumberNotAllowed" class="mt-10px">
        Currently we can't send text messages to China. If you have a non-Chinese number, please try that. If not, click
        "skip" below. You can still use the site by buying BitClout.
      </div>
    </div>
  </form>

  <div class="fs-10px">
    By proceeding, you agree to receive text messages from bitclout.com (standard rates apply)
  </div>

  <div class="d-flex mt-15px justify-content-end">
    <div>
      <a
        *ngIf="displayForSignupFlow"
        (click)="onSkipButtonClicked()"
        class="btn btn-outline-primary font-weight-bold fs-15px"
      >
        Skip
      </a>
      <a
        (click)="sendVerificationText()"
        [ngClass]="{ disabled: !phoneForm.valid, 'btn-loading': sendingPhoneNumberVerificationText }"
        class="btn btn-primary font-weight-bold fs-15px ml-10px"
      >
        Next
      </a>
    </div>
  </div>
</div>

<div *ngIf="screenToShow == SignUpGetStarterBitcloutComponent.SUBMIT_PHONE_NUMBER_VERIFICATION_SCREEN">
  <div *ngIf="displayForSignupFlow">
    <div class="mt-15px fs-15px fc-muted">STEP 3 of 4</div>
    <div class="mt-15px mb-15px fs-24px font-weight-bold">Verify your phone number</div>
  </div>

  <div class="fs-18px">
    Enter the 6 digit code sent to
    {{ this.phoneNumber }}

    <div class="mt-5px">
      <a href="" (click)="resendVerificationCode($event)">Resend</a>
      <i *ngIf="resentVerificationCode" class="far fa-check-circle fc-blue"></i>
    </div>

    <div *ngIf="sendPhoneNumberVerificationTextServerErrors.maxSendAttemptsReached" class="mt-5px fc-red fs-15px">
      You've requested too many verification codes. Please wait 10 minutes and try again.
    </div>
  </div>

  <form #f="ngForm" [formGroup]="verificationCodeForm" class="form-group pt-10px">
    <input
      class="form-control"
      name="verificationCode"
      formControlName="verificationCode"
      (ngModelChange)="onVerificationCodeInputChanged()"
    />

    <div class="fc-red fs-15px">
      <div *ngIf="submitPhoneNumberVerificationCodeServerErrors.invalidCode" class="mt-10px">
        The code you entered is invalid. Please try again.
      </div>
      <div *ngIf="submitPhoneNumberVerificationCodeServerErrors.maxCheckAttemptsReached" class="mt-10px">
        You've checked too many codes and hit a rate limit. Please wait 10 minutes and try again.
      </div>
    </div>
  </form>

  <div class="d-flex mt-15px justify-content-between">
    <div>
      <a
        *ngIf="displayForSignupFlow"
        (click)="backButtonClickedOnSubmitVerificationScreen()"
        class="btn btn-outline-primary font-weight-bold fs-15px"
      >
        Back
      </a>
    </div>
    <div>
      <a
        *ngIf="displayForSignupFlow"
        (click)="onSkipButtonClicked()"
        class="btn btn-outline-primary font-weight-bold fs-15px"
      >
        Skip
      </a>
      <a
        (click)="submitVerificationCode()"
        [ngClass]="{ disabled: !verificationCodeForm.valid, 'btn-loading': submittingPhoneNumberVerificationCode }"
        class="btn btn-primary font-weight-bold fs-15px ml-10px"
      >
        Verify
      </a>
    </div>
  </div>
</div>

<div *ngIf="screenToShow == SignUpGetStarterBitcloutComponent.COMPLETED_PHONE_NUMBER_VERIFICATION_SCREEN">
  <div *ngIf="displayForSignupFlow">
    <div class="mt-15px fs-15px fc-muted">STEP 3 of 4</div>
    <div class="mt-15px mb-15px fs-24px font-weight-bold">Get Starter BitClout</div>
  </div>

  <div class="fs-15px mb-15px">
    Your phone number was verified. We sent you a small amount of BitClout, which is enough to post and follow people.
  </div>

  <div *ngIf="displayForSignupFlow; else elseBlock" class="d-flex mt-15px justify-content-between">
    <a (click)="backToPreviousSignupStepOnClick()" class="btn btn-outline-primary font-weight-bold fs-15px">Back</a>
    <a (click)="onSkipButtonClicked()" class="btn btn-primary font-weight-bold fs-15px">Next</a>
  </div>
  <ng-template #elseBlock>
    <a
      [routerLink]="'/' + this.globalVars.RouteNames.BUY_BITCLOUT"
      [queryParams]="{ stepNum: null }"
      queryParamsHandling="merge"
      class="btn btn-primary font-weight-bold fs-15px mt-5px mb-5px mr-15px"
    >
      Buy BitClout
    </a>

    <a
      [routerLink]="'/' + this.globalVars.RouteNames.UPDATE_PROFILE"
      [queryParams]="{ stepNum: null }"
      queryParamsHandling="merge"
      class="btn btn-outline-primary font-weight-bold fs-15px mt-5px mr-15px mb-5px"
    >
      Update your profile
    </a>

    <a
      [routerLink]="'/' + this.globalVars.RouteNames.BROWSE"
      [queryParams]="{ stepNum: null }"
      queryParamsHandling="merge"
      class="btn btn-outline-primary font-weight-bold fs-15px mt-5px mr-15px mb-5px"
    >
      Browse
    </a>
  </ng-template>
</div>
