<div class="flex-grow-1">
  <div
    class="d-flex align-items-center justify-content-between w-100 pl-15px fs-18px font-weight-bold border-bottom border-color-grey"
    style="min-height: 80px; background-color: var(--secalt)"
  >
    <simple-center-loader *ngIf="loading"></simple-center-loader>
    <div class="d-flex flex-column justify-flex-start" *ngIf="!loading">
      <div class="pt-15px d-flex align-items-center font-weight-bold fs-18px">
        <p *ngIf="!investInYourself">Invest in a Creator</p>
        <p *ngIf="investInYourself">Invest In Yourself</p>
      </div>
      <div class="fs-14px py-15px pr-15px">
        <p *ngIf="!investInYourself">
          You can invest directly in your favorite creator's by buying their coin.
          Click "Buy" next to one of the creators below to invest in them.
        </p>
        <p *ngIf="investInYourself">
          Even you have a creator coin! Click "Buy" next to your name to invest in yourself.
        </p>
      </div>
    </div>
  </div>

  <div>
    <div *ngIf="!investInYourself">
      <div>
        <div class="fs-18px p-10px font-weight-semibold">Top Creators:</div>
        <div *ngFor="let profile of topCreatorsToHighlight">
          <simple-profile-card
            [profile]="profile"
            [showTutorialBuy]="true"
            [inTutorial]="true"
          ></simple-profile-card>
        </div>
      </div>

      <div>
        <div class="fs-18px p-10px font-weight-semibold">Up-And-Coming Creators:</div>
        <div *ngFor="let profile of upAndComingCreatorsToHighlight">
          <simple-profile-card
            [profile]="profile"
            [showTutorialBuy]="true"
            [inTutorial]="true"
          ></simple-profile-card>
        </div>
      </div>
    </div>

    <div *ngIf="investInYourself" class="p-15px">
      <simple-profile-card
        [profile]="loggedInUserProfile"
        [showTutorialBuy]="true"
        [inTutorial]="true"
      ></simple-profile-card>
    </div>


    <!-- SPACER FOR BOTTOM BAR ON MOBILE -->
    <div class="global__bottom-bar-mobile-height"></div>
    <div class="global__bottom-bar-mobile-height"></div>
  </div>
</div>
