<div class="d-flex flex-column h-100 messages-thread-view__container">
  <!-- Messages Container -->
  <div class="flex-grow-1" style="overflow: hidden">
    <div
      *ngIf="messageThread"
      class="w-100 p-15px disable-scrollbars"
      style="overflow-y: scroll"
      id="messagesContainer"
      #messagesContainer
    >
      <message
        *ngFor="let message of messageThread.Messages; let ii = index"
        [nextMessage]="ii < messageThread.Messages.length - 1 ? messageThread.Messages[ii + 1] : null"
        [message]="message"
        [profile]="messageThread.ProfileEntryResponse"
      ></message>
      <div class="d-lg-none d-block global__bottom-bar-mobile-height mb-5px"></div>
      <div class="d-lg-block d-none global__top-bar__height"></div>
      <div class="global__bottom-bar-mobile-height"></div>
    </div>
  </div>

  <!-- Create Message Input -->
  <div class="global__top-bar__height messages-thread-view__message-builder">
    <div class="d-flex flex-column align-items-center">
      <div class="w-100">
        <textarea
          placeholder="Write message here..."
          (keypress)="_messageTextChanged($event)"
          [(ngModel)]="messageText"
          class="py-5px fs-15px messages-thread__border-radius flex-grow-1 form-control"
          style="height: 50px"
        ></textarea>
      </div>
      <div class="d-flex justify-content-end w-100 mr-15px">
        <div>
          <button
            *ngIf="!sendMessageBeingCalled"
            (click)="_sendMessage()"
            class="btn btn-primary fs-15px ml-15px messages-thread__border-radius"
          >
            Send
          </button>
          <button *ngIf="sendMessageBeingCalled" class="btn btn-primary fs-15px ml-15px messages-thread__border-radius">
            Sending...
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
