<div>
  <div class="fs-15px font-weight-bold mt-15px mb-15px px-15px">
    Reset Jumio for Public Key or Username:
    <div class="d-flex mt-5px">
      <input
        [(ngModel)]="usernameToResetJumio"
        (keydown.enter)="_resetJumio()"
        class="form-control w-100 fs-15px lh-15px"
        placeholder="Enter a username or public key."
      />
      <button *ngIf="!resettingJumio" (click)="_resetJumio()" class="btn btn-outline-primary fs-15px ml-5px">
        Reset
      </button>
      <button *ngIf="resettingJumio" class="btn btn-primary fs-15px ml-5px" disabled>Working...</button>
    </div>
  </div>
  <div class="fs-15px font-weight-bold mt-15px mb-15px px-15px">
    Get Jumio attempts for Public Key or Username:
    <div class="d-flex mt-5px">
      <input
        [(ngModel)]="usernameToFetchJumioAttempts"
        (keydown.enter)="_loadJumioAttempts()"
        class="form-control w-100 fs-15px lh-15px"
        placeholder="Enter a username or public key."
      />
      <button *ngIf="!loadingJumioAttempts" (click)="_loadJumioAttempts()" class="btn btn-outline-primary fs-15px ml-5px">
        Fetch
      </button>
      <button *ngIf="loadingJumioAttempts" class="btn btn-primary fs-15px ml-5px" disabled>Working...</button>
    </div>
  </div>
  <div *ngFor="let attempt of jumioAttempts" class="px-15px">
    <ul>
      <ng-container *ngFor="let item of attempt | keyvalue">
        <li>{{ item.key }}</li>
        <ul>
          <li *ngFor="let value of item.value">{{ value }}</li>
        </ul>
      </ng-container>
    </ul>
  </div>
</div>
