<div
  #uiScroll
  *uiScroll="let creator of datasource"
>
  <!-- Screen out zero balances -->
  <!-- How do we want to "highlight" the balance entry in the tutorial -->
  <div
    *ngIf="
                creator &&
                (creator.BalanceNanos || (creator.NetBalanceInMempool != 0 && globalVars.showProcessingSpinners))
              "
    class="row no-gutters fc-default py-10px px-16px border-top"
    [ngClass]="{ 'wallet-highlighted-creator': isHighlightedCreator(creator) }"
  >
    <!-- Name-->
    <a
      class="wallet-column col-lg-3 d-flex align-items-center link--unstyled holdings__creator-coin-name p-0 m-0"
      [routerLink]="inTutorial ? [] : ['/' + globalVars.RouteNames.USER_PREFIX, creator.ProfileEntryResponse.Username]"
      queryParamsHandling="merge"
      [ngStyle]="{ 'cursor': inTutorial ? 'auto' : 'pointer' }"
    >
      <div class="holdings__avatar" [avatar]="creator.ProfileEntryResponse.PublicKeyBase58Check"></div>
      <div class="text-truncate holdings__name">
        <span>{{ creator.ProfileEntryResponse.Username }}</span>

        <span
          *ngIf="creator.ProfileEntryResponse.IsReserved && !creator.ProfileEntryResponse.IsVerified"
          class="d-inline-block ml-1 cursor-pointer lh-12px fc-muted"
          matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
          [matTooltip]="'This profile is reserved. The owner has not yet claimed it.'"
        >
                    <i class="far fa-clock fa-md align-middle"></i>
                  </span>
        <span
          *ngIf="creator.ProfileEntryResponse.IsVerified"
          (click)="tooltip.toggle()"
          class="ml-1 cursor-pointer text-primary"
          matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
          [matTooltip]="'This account is verified'"
          #tooltip="matTooltip"
        >
                    <i class="fas fa-check-circle fa-md align-middle"></i>
                  </span>

        <div class="text-grey9 fs-12px d-lg-none">
          {{ globalVars.nanosToUSD(creator.ProfileEntryResponse.CoinPriceBitCloutNanos, 2) }}
        </div>
      </div>
    </a>

    <!-- Price-->
    <div class="wallet-column col-lg-2 d-none d-lg-flex align-items-center justify-content-end">
      <div class="d-flex align-items-center justify-content-end">
        {{ globalVars.nanosToUSD(creator.ProfileEntryResponse.CoinPriceBitCloutNanos, 2) }}
      </div>
    </div>

    <!-- Balance -->
    <div class="wallet-column col-3 mb-0 pt-0px d-flex align-items-center justify-content-end text-right">
      <div>
        <div>
          <i
            *ngIf="creator.NetBalanceInMempool != 0 && globalVars.showProcessingSpinners"
            class="fa fa-spinner fc-muted"
            matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
            [matTooltip]="unminedCreatorCoinToolTip(creator)"
            #tooltip="matTooltip"
            (click)="tooltip.toggle()"
          ></i>
          {{
          globalVars.usdYouWouldGetIfYouSoldDisplay(
            creator.BalanceNanos,
            creator.ProfileEntryResponse.CoinEntry
          )
          }}
        </div>
      </div>
    </div>

    <!-- Buy / Sell / Transfer Dropdown -->
    <div
      class="wallet__dropdown-parent wallet-column col-lg-4 d-flex align-items-center justify-content-end fc-secondary m-0"
    >
      <div style="min-width: 50px" class="d-flex align-items-center justify-content-end">
        <wallet-actions-dropdown
          [hodlingUser]="creator.ProfileEntryResponse"
          [inTutorial]="inTutorial"
          [isHighlightedCreator]="isHighlightedCreator(creator)"
          *ngIf="!inTutorial || isHighlightedCreator(creator)"
          [ngClass]="{ 'wiggle': inTutorial && tutorialStatus === TutorialStatus.INVEST_OTHERS_BUY }"
          (isSelling)="exitTutorial()"
        ></wallet-actions-dropdown>
      </div>
    </div>
  </div>
</div>
