<!--
  DESKTOP
  -->
<div class="global__desktop">
  <left-bar></left-bar>
  <div class="global__content__flex">
    <div class="global__center__width">
      <div class="global__center__inner">
        <not-found></not-found>
      </div>
    </div>
    <div class="global__sidebar__width">
      <right-bar-creators class="global__sidebar__fixed"></right-bar-creators>
    </div>
  </div>
</div>

<!--
  MOBILE
  -->
<div class="global__mobile">
  <left-bar-mobile></left-bar-mobile>

  <div style="flex-grow: 1">
    <not-found></not-found>
    <div class="global__bottom-bar-mobile-height">&nbsp;</div>
  </div>

  <bottom-bar-mobile class="global__bottom-bar-mobile"></bottom-bar-mobile>
</div>
