<!-- Be careful when modifying this.
     It's used by both the feed and that "create post page."-->
<div [ngClass]="{'formbg': !parentPost }" class="create-post">
  <!-- Avatar + Input -->
  <div class="d-flex flex-column align-items-top pt-15px pr-15px pl-15px avatar-input-row">
     <div class="d-flex">
      <div>
        <div
          *ngIf="globalVars.userList && (!globalVars.loggedInUser || !globalVars.loggedInUser.ProfileEntryResponse)"
          class="feed-create-post__avatar feed-create-post__avatar_default"
        ></div>
        <div *ngIf="globalVars.loggedInUser && globalVars.loggedInUser.ProfileEntryResponse">
          <div
            class="feed-create-post__avatar"
            [avatar]="globalVars.loggedInUser.ProfileEntryResponse.PublicKeyBase58Check"
          ></div>
        </div>
      </div>
      <div class="flex-fill">
        <textarea
          [(ngModel)]="postInput"
          rows="{{ parentPost ? 3 : numberOfRowsInTextArea }}"
          [ngClass]="{
            'border-0': !parentPost,
            'feed-create-post__textarea': !parentPost,
            'm-5px': !parentPost,
            'p-0': !parentPost,
            'br-12px': parentPost,
            'feed-create-comment__textarea': parentPost,
            'lh-18px': parentPost
          }"
         class="form-control fs-18px m-5px p-0 border-0 feed-create-post__textarea"
         [placeholder]="getPlaceholderText()"
         (paste)="onPaste($event)"
         dropUpload
         (onFileDropped)="uploadFile($event)"
         cdkTextareaAutosize
         #autosize="cdkTextareaAutosize"
       ></textarea>
     </div>

     </div>
    <div>
      <!-- Post image -->
      <div class="feed-post__image-container" *ngIf="!isComment && postImageSrc">
        <div (click)="postImageSrc = null" class="update-profile__image-delete"><i-feather name="trash-2"></i-feather></div>
        <img class="feed-post__image" src="{{ postImageSrc }}" />
      </div>
      <!-- Embedded Content -->
      <div class="feed-post__embed-container" *ngIf="constructedEmbedURL">
        <i
          class="icon-close feed-post__image-delete"
          (click)="embedURL = ''; showEmbedURL = false; constructedEmbedURL = ''"
        ></i>
        <iframe
          [height]="EmbedUrlParserService.getEmbedHeight(constructedEmbedURL)"
          class="feed-post__image"
          [src]="constructedEmbedURL | sanitizeEmbed"
          frameborder="0"
          allow="picture-in-picture; clipboard-write; encrypted-media; gyroscope; accelerometer;"
          [ngStyle]="{'max-width': EmbedUrlParserService.isValidTiktokEmbedURL(constructedEmbedURL) ? '325px' : '' }"
          allowfullscreen
        ></iframe>
      </div>

    </div>
    <div class="flex-fill">

    </div>
  </div>
</div>
<div class="flex-fill px-15px br-10px create-post" [ngClass]="{ 'pt-10px': parentPost }" *ngIf="showEmbedURL">
  <input
    class="br-3px"
    type="url"
    [(ngModel)]="embedURL"
    (ngModelChange)="setEmbedURL()"
    placeholder="Embed Youtube, Vimeo, TikTok, Giphy, Spotify or SoundCloud"
  />
</div>
<div class="flex-fill px-15px br-10px" [ngClass]="{ 'pt-10px': parentPost }" *ngIf="showImageLink">
  <input
    class="br-3px"
    type="url"
    [(ngModel)]="postImageSrc"
    placeholder="Link to Arweave image"
  />
</div>
<!-- Image Upload + Post Buttons -->
<div class="create-post-icon-bar align-items-center">
  <span
    class="mr-15px roboto-regular feed-create-post__character-counter fs-15px"
    [ngClass]="{
      'd-none': postInput.length == 0,
      'text-grey8A': showCharacterCountIsFine(),
      'text-warning': showCharacterCountWarning(),
      'fc-red': characterCountExceedsMaxLength()
    }"
  >
    {{ postInput.length }} / {{ GlobalVarsService.MAX_POST_LENGTH }}
  </span>
  <i-feather
    name="code"
    (click)="showEmbedURL = !showEmbedURL"
  ></i-feather>
  <ng-container *ngIf="!isComment">
    <input #imageInput class="d-none" type="file" accept="image/*" (change)="_handleFilesInput($event.target.files)" />
    <i-feather
      name="image"
      (click)="imageInput.click()"
    ></i-feather>
    <i-feather
      name="link"
      (click)="showImageLink = !showImageLink"
    ></i-feather>
  </ng-container>
  <button
    class="btn"
    [ngClass]="{
      disabled: (postInput.length <= 0 && !postImageSrc) || characterCountExceedsMaxLength(),
      'btn-loading': submittingPost
    }"
    (click)="_createPost()"
  >
    Post
  </button>
</div>
