<a
  *ngFor="let profileEntryResponse of globalVars.rightBarLeaderboard"
  [routerLink]="['/' + globalVars.RouteNames.USER_PREFIX, profileEntryResponse.Username]"
  queryParamsHandling="merge"
  class="link--unstyled d-flex align-items-center text-grey5 fs-15px pb-15px"
>
  <div
    class="right-bar-creators-leaderboard__creator-avatar"
    [ngStyle]="{ 'background-image': 'url(' + profileEntryResponse.ProfilePic + ')' }"
  ></div>

  <div style="flex-grow: 1">
    <span>{{ profileEntryResponse.Username }}</span>
    <span
      *ngIf="profileEntryResponse.IsReserved && !profileEntryResponse.IsVerified"
      class="d-inline-block ml-1 cursor-pointer lh-12px fc-muted"
      matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
      [matTooltip]="'This profile is reserved. Click to learn how to claim it.'"
    >
      <i class="far fa-clock fa-md align-middle"></i>
    </span>
    <span
      *ngIf="profileEntryResponse.IsVerified"
      (click)="tooltip.toggle()"
      class="ml-1 cursor-pointer text-primary"
      matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
      [matTooltip]="'This account is verified'"
      #tooltip="matTooltip"
    >
      <i class="fas fa-check-circle fa-md align-middle"></i>
    </span>
  </div>

  <div>~{{ globalVars.nanosToUSD(profileEntryResponse.CoinPriceBitCloutNanos, 2) }}</div>
</a>
