<div class="vh-75">
  <p class="mb-2 px-3 fs-7 text-muted">
    <i class="fas fa-info-circle"></i>
    Swap from BTC, ETH, SOL, and other chains to DESO using MegaSwap.
    The legacy <a [routerLink]="'/' + globalVars.RouteNames.BUY_DESO + '/BTC'">Buy with BTC</a>
    <span *ngIf="globalVars.showBuyWithETH; else elseBlockInfo">
      and <a [routerLink]="'/' + globalVars.RouteNames.BUY_DESO + '/ETH'">Buy with ETH</a> flows are
    </span>
    <ng-template #elseBlockInfo>
      flow is
    </ng-template>
    still accessible but being deprecated.
  </p>

  <iframe
    *ngIf="iframeURL; else elseBlockIframe"
    [src]="iframeURL"
    class="border-0 rounded w-100 h-100"
  ></iframe>
  <ng-template #elseBlockIframe>
    <p class="fs-8 text-danger text-center">
      <i class="fas fa-exclamation-triangle"></i> Unable to render iFrame.<br />Invalid MegaSwap URL.
    </p>
  </ng-template>
</div>
