<div class="vh-70">
  <p class="pl-2 fs-8 text-muted">
    <i class="fas fa-info-circle"></i>
    Swap from BTC, ETH, SOL, and other chains to DESO using MegaSwap.
    The legacy <a [routerLink]="'/' + globalVars.RouteNames.BUY_DESO + '/BTC'">Buy with BTC</a>
    <span *ngIf="globalVars.showBuyWithETH; else elseBlock">
      and <a [routerLink]="'/' + globalVars.RouteNames.BUY_DESO + '/ETH'">Buy with ETH</a> flows are
    </span>
    <ng-template #elseBlock>
      flow is
    </ng-template>
    still accessible but being deprecated.
  </p>

  <div class="row mt-3 mb-3 h-100">
    <div class="col-12 text-center">
      <iframe [src]="iframeURL" class="border-0 h-100 w-90"></iframe>
    </div>
  </div>
</div>
