// Dark Theme
// By: 
.dark[app-theme] {
    --background: #000000;
    --text: #D8D8D9;
    --grey: #999;
    --secondary: #080808;
    --secalt: #0f0f0f;
    --textalt: #eee;
    --norm: #eee;
    --formbg: #0f0f0f;
    --link: #4DA3FF;
    --hover: #72b6ff;
    --border: #0e0e0e;
    --mborder: #0e0e0e;
    --filter: invert(98%) sepia(1%) saturate(264%) hue-rotate(181deg) brightness(116%) contrast(100%);
    --unread: #1a293f;
    --topbar: #15191D;
    --cblue: #0058F7;
    --cred: #db4760;
    --cgreen: #19B028;
    --button: #0058F7;
    --loading: #999;
}

