// Icy Dark Theme
// By:
.icydark[app-theme] {
  --background: #15202b;
  --text: #eff3f8;
  --grey: #999;
  --secondary: #1c2732;
  --secalt: #111b26;
  --textalt: #eee;
  --norm: #eee;
  --formbg: #111b26;
  --link: #3a9eea;
  --hover: #72b6ff;
  --border: #38444d;
  --mborder: #38444d;
  --filter: invert(98%) sepia(1%) saturate(264%) hue-rotate(181deg)
    brightness(116%) contrast(100%);
  --unread: #1a293f;
  --topbar: #041223;
  --cblue: #238eff;
  --cred: #e0245e;
  --cgreen: #17bf63;
  --cgold: #ffd700;
  --button: #0058f7;
  --loading: #999;
}
