// Light Theme
// By:
.light[app-theme] {
  --background: #F7F9F9;
  --tilebg: #FFFFFF;
  --tilesecbg: #F4F6F6;
  --nftbarbg: #1B1E1E;
  --highlight: #005BFF;
  --highlightsec: #E5F2FF;
  --posttext: #1B1E1E;
  --postsectext: #545656;
  --postfadedtext: #8D8F8F;
  --nfttext: #F0F3F3;
  --nftfadedtext: #9B9E9F;
  --nftbuttontext: #1B1E1E;
  --border: #E4EBEB;
  --searchbartext: #6F8283;
  --searchbarbackground: rgba(228, 235, 235, 0.5);


  --text: #333333;
  --grey: #555555;
  --secondary: #f8f8f8;
  --secalt: #eee;
  --textalt: #777;
  --norm: #222;
  --formbg: #FFFFFF;
  --link: #007BFF;
  --hover: #0056b3;
  --mborder: #E5E5E5;
  --filter: ;
  --unread: #e7effe;
  --topbar: #2e2e2e;
  --cblue: #0058F7;
  --cred: #fe3537;
  --cgreen: #19B028;
  --button: #0058F7;
  --loading: #777777;
}
