// Light Theme
// By:
.light[app-theme] {
  --background: #fff;
  --text: #333333;
  --grey: #555555;
  --secondary: #f8f8f8;
  --secalt: #eee;
  --textalt: #777;
  --norm: #222;
  --formbg: #ffffff;
  --link: #007bff;
  --hover: #0056b3;
  --border: #e5e5e5;
  --mborder: #e5e5e5;
  --filter: ;
  --unread: #e7effe;
  --topbar: #2e2e2e;
  --cblue: #0058f7;
  --cred: #fe3537;
  --cgreen: #19b028;
  --cgold: #ffd700;
  --button: #0058f7;
  --loading: #777777;
}
