<!--
  Almost all pages should use this component to support both mobile and desktop views
  -->
<div [class]="mobile ? 'global__mobile' : 'global__desktop'">
  <!-- Top Bar -->
  <div *ngIf="!mobile" class="desktop-top-bar">
    <div class="bitclout-logo">
      <i-feather name="bitclout"></i-feather>
      <span>bitclout</span>
    </div>
    <search-bar *ngIf="!inTutorial" [resultsUnderBar]="true"></search-bar>
    <change-account-selector></change-account-selector>
  </div>
  <top-bar-mobile-header
    *ngIf="mobile"
    [inTutorial]="inTutorial"
    [simpleTopBar]="simpleTopBar"
    [title]="title"
  ></top-bar-mobile-header>
  <div class="d-flex" id="header-content-spacer" style="margin-top: 60px">
    <left-bar *ngIf="!mobile && !onlyContent" [inTutorial]="inTutorial"></left-bar>
    <div *ngIf="onlyContent" class="global__nav__flex">
      <div class="global__nav__fixed">
        <div class="global__nav__inner"></div>
      </div>
    </div>

    <div class="global__content__flex">
      <div [class]="mobile || hideSidebar ? 'global__content__width' : 'global__center__width'">
        <div [class]="mobile || hideSidebar ? 'global__content__inner' : 'global__center__inner'">
          <ng-content></ng-content>
        </div>
      </div>
      <div class="global__sidebar__width" *ngIf="!mobile && !hideSidebar && !onlyContent">
        <right-bar-creators [inTutorial]="inTutorial" class="global__sidebar__fixed disable-scrollbars"></right-bar-creators>
      </div>

      <bottom-bar-mobile
        *ngIf="mobile && !inTutorial && showBottomBar"
        class="global__bottom-bar-mobile"
        [showPostButton]="showPostButton"
      ></bottom-bar-mobile>
    </div>

  </div>
</div>
