<div app-theme class="nft-modal-container p-15px">
  <nft-modal-header [header]="'NFT Settings'" [bsModalRef]="bsModalRef"></nft-modal-header>

  <!-- Type of NFT -->
  <div class="d-flex align-items-center fs-15px pt-15px text-grey7">
    <div class="pr-5px">Type of NFT</div>
    <div class="flex-grow-1 nft-modal-separator"></div>
  </div>
  <div class="pt-30px font-weight-500">
    <div class="d-flex align-items-center fs-15px">
      <input [(ngModel)]="copiesRadioValue"
             [value]="IS_SINGLE_COPY"
             type="radio"
             name="test"
             class="mr-15px nft-modal-radio-size cursor-pointer">
      Single
    </div>
    <div class="d-flex justify-content-between align-items-center fs-15px">
      <div class="d-flex align-items-center">
        <input [(ngModel)]="copiesRadioValue"
               [value]="IS_MULTIPLE_COPIES"
               type="radio"
               name="test"
               class="mr-15px nft-modal-radio-size cursor-pointer">
        Multiple editions
      </div>
      <input
         [(ngModel)]="numCopies"
         *ngIf="copiesRadioValue === IS_MULTIPLE_COPIES"
         class="form-control fs-15px text-right d-inline-block"
         style="max-width: 150px"
         type="number"
         min=1 [max]="maxCopiesPerNFT"
         placeholder="1"/>
      <!-- CSS was being annoying so I added this placeholder as a lazy hack. -->
      <input
         *ngIf="copiesRadioValue === IS_SINGLE_COPY"
         class="form-control fs-15px text-right d-inline-block"
         style="max-width: 150px; background-color: #e9ecef !important;"
         placeholder="1"
         disabled/>
    </div>
    <div *ngIf="copiesRadioValue === IS_MULTIPLE_COPIES && hasUnreasonableNumCopies()"
         class="fs-15px fc-red pt-15px">
      The number of NFT copies must be between 1 and {{ maxCopiesPerNFT }}.
    </div>
  </div>
  <div class="fs-15px text-grey7 mt-15px mb-30px">
      An NFT can have multiple editions, each with its own unique serial number.
  </div>

  <!-- Sale Status and Price -->
  <div class="d-flex align-items-center fs-15px text-grey7">
    <div class="pr-5px">Sale Status and Price</div>
    <div class="flex-grow-1 nft-modal-separator"></div>
  </div>
  <div class="pb-30px pt-15px font-weight-500">
    <div class="d-flex justify-content-between align-items-center fs-15px">
      <div>Put it on sale</div>
      <div class="custom-control custom-switch custom-switch-lg">
        <input [(ngModel)]="putOnSale" type="checkbox" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1"></label>
      </div>
    </div>
    <div class="d-flex flex-wrap justify-content-between align-items-center fs-15px pt-10px">
      <div>
        Minimum Bid
      </div>
      <div class="d-flex flex-wrap">
        <div class="input-group py-5px" [ngClass]="{'mr-15px': !globalVars.isMobile()}"
             [ngStyle]="{'max-width': !globalVars.isMobile() ? '250px' : 'none'}">
          <div class="input-group-prepend" id="usd-label">
            <span class="input-group-text fs-15px">&nbsp;USD&nbsp;</span>
          </div>
          <input
             [(ngModel)]="minBidAmountUSD"
             (ngModelChange)="updateMinBidAmountCLOUT($event)"
             [ngStyle]="{'max-width': !globalVars.isMobile() ? '250px' : 'none'}"
             aria-describedby="usd-label"
             class="form-control fs-15px text-right d-inline-block"
             type="number" min="0"
             placeholder="0"/>
        </div>
        <div class="input-group py-5px"
             [ngStyle]="{'max-width': !globalVars.isMobile() ? '250px' : 'none'}">
          <div class="input-group-prepend" id="clout-label">
            <span class="input-group-text fs-15px">CLOUT</span>
          </div>
          <input
             [(ngModel)]="minBidAmountCLOUT"
             (ngModelChange)="updateMinBidAmountUSD($event)"
             aria-describedby="clout-label"
             class="form-control fs-15px text-right d-inline-block"
             type="number" min="0"
             placeholder="0"/>
        </div>
      </div>
    </div>
    <div *ngIf="hasUnreasonableMinBidAmount()" class="fs-15px fc-red pt-15px">
      The minimum bid must be greater than or equal to zero.
    </div>
  </div>

  <!-- Royalties -->
  <div class="d-flex align-items-center fs-15px text-grey7">
    <div class="pr-5px">Royalties</div>
    <div class="flex-grow-1 nft-modal-separator"></div>
  </div>
  <div class="pt-15px pb-30px font-weight-500">
    <div class="d-flex justify-content-between align-items-center fs-15px pt-10px">
      <div>
        % Creator Royalty
      </div>
      <input
         [(ngModel)]="creatorRoyaltyPercent"
         class="form-control fs-15px text-right d-inline-block"
         style="max-width: 150px"
         type="number"
         min="0" max="100"
         placeholder="0%"/>
    </div>
    <div class="d-flex justify-content-between align-items-center fs-15px pt-10px">
      <div>
        % Coin-holder Royalty
      </div>
      <input
         [(ngModel)]="coinRoyaltyPercent"
         class="form-control fs-15px text-right d-inline-block"
         style="max-width: 150px; background-color: white"
         type="number"
         min="0" max="100"
         placeholder="0%"/>
    </div>
    <div *ngIf="hasUnreasonableRoyalties()" class="fs-15px fc-red pt-15px">
      The sum of creator and coin-holder royalties must be less than 100.
    </div>
    <div class="fs-15px text-grey7 mt-15px" style="font-weight: 400">
      On every sale, including resale, a customizable percentage goes to you, the creator, and to your
      coin-holders.
    </div>
  </div>

  <!-- Unlockable Content -->
  <div class="d-flex align-items-center fs-15px text-grey7">
    <div class="pr-5px">Unlockable Content</div>
    <div class="flex-grow-1 nft-modal-separator"></div>
  </div>
  <div class="d-flex justify-content-between align-items-center mt-15px">
    <div class="fs-15px">
      <div class="font-weight-500">Enable Unlockable Content</div>
    </div>
    <div class="custom-control custom-switch custom-switch-lg">
      <input [(ngModel)]="includeUnlockable" type="checkbox" class="custom-control-input" id="customSwitch2">
      <label class="custom-control-label" for="customSwitch2"></label>
    </div>
  </div>
  <div class="fs-15px text-grey7 mb-30px" style="font-weight: 400">
    Include exclusive text, like a URL, encrypted for NFT purchasers.
  </div>
  <div class="d-flex justify-content-between align-items-center pb-30px">
    <div class="fs-15px">
      <div class="font-weight-500">Network Fee</div>
    </div>
    <div class="fs-15px">
      {{ globalVars.nanosToBitClout(createNFTFeeNanos * numCopies, 5) }} CLOUT
      <span class="text-grey7">(~{{globalVars.nanosToUSD(createNFTFeeNanos * numCopies, 2)}})</span>
    </div>
  </div>

  <button
    [disabled]="hasUnreasonableRoyalties() || hasUnreasonableNumCopies() || hasUnreasonableMinBidAmount() || minting"
    (click)="mintNft()"
    class="btn btn-primary font-weight-bold fs-15px br-12px mb-15px"
    style="height: 36px; width: 135px; line-height: 15px"
  >
    {{ minting ? "Minting NFT" : "Mint NFT" }}
  </button>
</div>
