<div app-theme class="nft-modal-container p-15px">
  <div class="w-100 d-flex justify-content-between py-15px">
    <div class="fs-20px d-flex align-items-center font-weight-500">Auction created</div>
    <div class="fs-25px cursor-pointer pr-15px" (click)="bsModalRef.hide()">&times;</div>
  </div>

  <div class="pb-15px fs-15px">
    This NFT will be for sale on the marketplace.
  </div>

  <div class="font-weight-500 fs-15px pb-15px" style="text-decoration-line: underline">View in Marketplace</div>

  <simple-center-loader *ngIf="loading"></simple-center-loader>
</div>
