<div app-theme class="nft-modal-container p-15px">
  <div class="w-100 d-flex justify-content-between nft-modal__header">
    <div class="d-flex align-items-center">{{ isSelectingSerialNumber ? "Select an edition" : "Place a bid" }}</div>
  </div>
  <simple-center-loader *ngIf="loading"></simple-center-loader>
  <div *ngIf="!loading">
    <div *ngIf="biddableSerialNumbers?.length" [ngClass]="{'d-none': isSelectingSerialNumber}">
      <div class="fs-15px text-grey5">
        You are about to place a bid for an NFT auctioned by @{{ post.ProfileEntryResponse.Username}}.
      </div>

      <div *ngIf="!globalVars.isMobile()" class="d-flex justify-content-between nft-modal-bid-details">
        <div class="col-2 d-flex flex-column m-16px" style="border-right: 1px solid var(--border)">
          <span>Number</span>
          <span class="mt-5px">#{{ selectedSerialNumber?.SerialNumber }}</span>
        </div>
        <div class="col-5 d-flex flex-column m-16px" style="border-right: 1px solid var(--border)">
          <span>Highest Bid</span>
          <span class="mt-5px">{{ globalVars.nanosToBitClout(highBid) }} $DESO (~{{globalVars.nanosToUSD(highBid, 2)}})</span>
        </div>
        <div class="col-5 d-flex flex-column m-16px">
          <span>Min Bid Amount</span>
          <span class="mt-5px">{{ globalVars.nanosToBitClout(selectedSerialNumber?.MinBidAmountNanos) }} $DESO (~{{globalVars.nanosToUSD(selectedSerialNumber?.MinBidAmountNanos, 2)}})</span>
        </div>
      </div>

      <div *ngIf="globalVars.isMobile()">
        <div class="nft-modal-bid-details d-flex justify-content-between p-16px">
          <span class="font-weight-bold">Number</span>
          <div>
            <span class="mt-5px">#{{ selectedSerialNumber?.SerialNumber }}</span>
            <a class="fc-blue ml-16px" (click)="goBackToSerialSelection()">Change</a>
          </div>
        </div>
        <div class="nft-modal-bid-details d-flex flex-column justify-content-center p-16px">
          <div class="border-bottom pb-10px d-flex justify-content-between">
            <span class="font-weight-bold">Highest Bid</span>
            <span>
              {{ globalVars.nanosToBitClout(highBid) }} $DESO (~{{ globalVars.nanosToUSD(highBid, 2) }})
            </span>
          </div>
          <div class="pt-10px d-flex justify-content-between">
            <span class="font-weight-bold">Min Bid Amount</span>
            <span>
              {{ globalVars.nanosToBitClout(selectedSerialNumber?.MinBidAmountNanos) }} $DESO (~{{
                globalVars.nanosToUSD(selectedSerialNumber?.MinBidAmountNanos, 2)
              }})
            </span>
          </div>
        </div>
      </div>

      <!-- Availability metadata -->
      <div class="fs-15px" *ngIf="!loading">
        <div class="d-flex">
          <span class="d-lg-inline-block d-block">Creator Royalty {{ post.NFTRoyaltyToCreatorBasisPoints / 100 }}%</span>
          <span class="d-lg-inline-block d-block ml-30px">Coin-holder Royalty {{ post.NFTRoyaltyToCoinBasisPoints / 100 }}%</span>
        </div>
      </div>

      <!-- Second separator line -->
      <div class="py-16px d-flex align-items-center fs-15px text-grey7">
        <div class="flex-grow-1 nft-modal-separator-2"></div>
      </div>

      <!-- The bid -->
      <div class="pb-10px">
        <span class="fs-17px font-weight-bold">Your Bid</span>
        <div class="d-flex mt-10px">
          <div
            class="d-flex"
            dropdown
            (click)="$event.stopPropagation()"
            container="body"
            style="align-items: center"
          >
            <button class="mint-nft__dropdown-btn" role="button" dropdownToggle>
              {{ minBidCurrency }}
              <i-feather name="chevron-down" class="feather-small"></i-feather>
            </button>
            <div class="dropdown-menu dropdown-menu-right p-0 bc-dropdown-menu place-bid-dropdown" *dropdownMenu>
              <div>
                <a
                  class="dropdown-menu-item fs-12px d-block link--unstyled p-10px feed-post__dropdown-menu-item"
                  (click)="minBidCurrency='USD'"
                >
                  USD
                </a>
                <a
                  class="dropdown-menu-item fs-12px d-block link--unstyled p-10px feed-post__dropdown-menu-item"
                  (click)="minBidCurrency='DESO'"
                >
                  DESO
                </a>
              </div>
            </div>
          </div>
          <div class="position-relative w-100">
            <input
              [(ngModel)]="minBidInput"
              (ngModelChange)="updateBidAmount($event)"
              style="border-radius: 0px 16px 16px 0px"
              aria-describedby="usd-label"
              class="mint-nft__input"
              type="number"
              min="0"
              placeholder="0"
            />
            <span class="mint-nft__floating-span">{{ bidAmountOtherCurrencyFormatted() }}</span>
          </div>
        </div>
      </div>

      <div *ngFor="let error of errors" class="error-container" style="white-space: pre-line;">
        <i-feather name="alert-circle" class="feather-large"></i-feather>
        {{ error }}
      </div>
      <div
        [ngClass]="{
          'floating-bottom-bar': globalVars.isMobile(),
          'mb-15px': !globalVars.isMobile(),
          'mt-30px': !globalVars.isMobile()
        }"
        class="d-flex align-items-center"
      >
        <button
          class="primary-button font-weight-bold fs-15px br-12px"
          style="height: 48px; width: 140px; line-height: 15px"
          (click)="placeBid()"
          [disabled]="placingBids || errors.length > 0 || !bidAmountCLOUT"
          [class]="{ 'disabled-button': placingBids || errors.length > 0 || !bidAmountCLOUT }"
        >
          {{ placingBids ? "Placing Bid" : "Place a Bid" }}
        </button>
        <div class="fs-15px ml-30px cursor-pointer" (click)="navigateToBuyCLOUT()">Buy DESO</div>
      </div>

    </div>


    <div *ngIf="biddableSerialNumbers?.length" [ngClass]="{'d-none': !isSelectingSerialNumber}">
      <div class="nft-modal__subtitle">An NFT can have multiple editions, each with its own unique serial number.</div>
      <div class="container fs-15px pb-15px px-0px">
        <div class="row no-gutters py-15px create-nft-auction-row-border d-flex align-items-center" style="height: 56px">
          <div class="col-3 mb-0px cursor-pointer" (click)="updateBidSort(SN_FIELD)">
            Number
            <i-feather
              *ngIf="sortByField === SN_FIELD"
              class="feather-small"
              name="{{ sortByOrder === 'asc' ? 'arrow-down' : 'arrow-up' }}"
            ></i-feather>
          </div>
          <div class="col-4 mb-0px cursor-pointer" (click)="updateBidSort(HIGH_BID_FIELD)">
            Highest Bid
            <i-feather
              *ngIf="sortByField === HIGH_BID_FIELD"
              class="feather-small"
              name="{{ sortByOrder === 'asc' ? 'arrow-down' : 'arrow-up' }}"
            ></i-feather>
          </div>
          <div class="col-5 mb-0px cursor-pointer" (click)="updateBidSort(MIN_BID_FIELD)">
            Min Bid Amount
            <i-feather
              *ngIf="sortByField === MIN_BID_FIELD"
              class="feather-small fc-secondary"
              name="{{ sortByOrder === 'asc' ? 'arrow-down' : 'arrow-up' }}"
            ></i-feather>
          </div>
        </div>
        <div class="place-bid-rows mb-30px">
          <div
            *ngFor="let nft of biddableSerialNumbers"
            class="row no-gutters background-color-white py-15px mb-0px create-nft-auction-row-border cursor-pointer"
            (click)="selectSerialNumber(nft.SerialNumber)"
          >
            <div class="col-3 mb-0px d-flex align-items-center">
              <button
                class="checkbox-circle radio mr-10px"
                [ngClass]="{ checked: selectedSerialNumber?.SerialNumber === nft.SerialNumber }"
              >
                <i-feather name="check"></i-feather>
              </button>
              <span class="lh-15px">#{{nft.SerialNumber}}</span>
            </div>
            <div class="col-4 mb-0px d-flex align-items-center">
              <div>
                <div class="d-lg-inline-block d-block">{{globalVars.nanosToBitClout(nft.HighestBidAmountNanos)}} DESO </div>
                <div class="text-grey7 d-lg-inline-block d-block">(~{{globalVars.nanosToUSD(nft.HighestBidAmountNanos, 2)}})</div>
              </div>
            </div>
            <div class="col-5 mb-0px d-flex align-items-center">
              <div>
                <div class="d-lg-inline-block d-block">{{ globalVars.nanosToBitClout(nft.MinBidAmountNanos) }} DESO </div>
                <div class="text-grey7 d-lg-inline-block d-block">(~{{globalVars.nanosToUSD(nft.MinBidAmountNanos, 2)}})</div>
              </div>
           </div>
          </div>
        </div>
      </div>
      <div [ngClass]="{ 'floating-bottom-bar': globalVars.isMobile() }">
        <button
          class="primary-button"
          [ngClass]="{ 'disabled-button': !selectedSerialNumber }"
          [disabled]="!selectedSerialNumber"
          (click)="saveSelection()"
        >
          Set your bid
        </button>
        <a class="ml-25px fc-blue fs-15px" (click)="navigateToBuyCLOUT()">
          Buy DESO
        </a>
      </div>
    </div>
    <div *ngIf="!biddableSerialNumbers.length" class="fs-15px">
      There are no serial numbers available for you to bid on.
    </div>
  </div>
</div>
