<div app-theme class="nft-modal-container p-15px d-flex flex-column">
  <div class="fs-20px">
    Unlock {{ balanceEntryResponse.ProfileEntryResponse?.Username }} DAO Coins
  </div>
  <div class="pt-15px">
    Your Unlockable Balance:
    {{ 0 }} DAO Coins
  </div>
  <div style="display: flex; justify-content: center; align-items: center;" class="pt-15px">
    <button
      class="btn btn-primary font-weight-bold br-12px"
      style="height: 36px; width: 180px; line-height: 15px"
      (click)="burnDAOCoin()"
      [disabled]="lockingDAOCoin || validationErrors.length"
    >
      Unlock
    </button>
  </div>
  <ng-container *ngIf="validationErrors.length">
    <div *ngFor="let validationError of validationErrors" class="pt-5px fc-red">
      {{ validationError }}
    </div>
  </ng-container>
  <div class="fc-red pt-5px" *ngIf="backendErrors">
    {{ backendErrors }}
  </div>
</div>
