<!-- PLEASE READ: this component is used in multiple places. Plese be careful about
     adding padding to the outer div that will break other UIs.

     Be careful when modifying this. It's used in multiple places. You should prob QA all
     of them if you modify. Some places it's used:

     - feed

     - post-thread component (i.e. single post thread view... note that there's a different
       treatment for parents vs comments, based on the isParentPostInThread variable)

     - feed-create-comment-form component (i.e. create comment view)

     - market-feed component -->
<div
  *ngIf="isNFTListSummary && postContent"
  class="creator-profile-nfts__list-container cursor-pointer"
  (click)="onPostClicked($event)"
>
  <div class="d-flex justify-content-between">
    <div class="feed-post__avatar-container">
      <a
        class="feed-post__avatar"
        [avatar]="postContent?.ProfileEntryResponse.PublicKeyBase58Check"
        [routerLink]="['/' + globalVars.RouteNames.USER_PREFIX, postContent?.ProfileEntryResponse.Username]"
        queryParamsHandling="merge"
      ></a>
    </div>
    <div class="creator-profile-nfts__list-body d-flex flex-column">
      <div>{{ postContent?.Body }}</div>
      <div>
        {{ postContent?.NumNFTCopiesForSale }} of {{ postContent?.NumNFTCopies }} for sale
        <span *ngIf="postContent.HasUnlockable" class="feed-post__nft-list-view-unlockable">
          <i-feather name="lock"></i-feather>
          <span>Unlockable content</span>
        </span>
      </div>
      <div>From: {{ globalVars.nanosToDeSo(lowBid, 2) }} $DESO ~{{ globalVars.nanosToUSD(lowBid, 2) }}</div>
    </div>

    <div *ngIf="postContent?.ImageURLs[0]">
      <img
        data-toggle="modal"
        class="feed-post__image creator-profile-nfts__nft-image-preview"
        src="{{ mapImageURLs(postContent.ImageURLs[0]) }}"
      />
    </div>
  </div>
</div>
<div
  *ngIf="!isNFTListSummary"
  class="d-flex flex-column"
  [ngClass]="{
    'br-12px': setBorder || cardStyle,
    border: setBorder || cardStyle,
    'feed-post__quoted-content': hoverable && isQuotedContent,
    'feed-post-container': !isQuotedContent,
    'pinned-post': showLeftSelectedBorder
  }"
>
  <div class="w-100">
    <div
      *ngIf="post.IsHidden"
      class="p-10px background-color-grey d-flex align-items-center justify-content-center fs-15px"
    >
      <a
        (click)="onPostClicked($event)"
        class="link--unstyled"
        [routerLink]="getRouterLink(['/' + globalVars.RouteNames.POSTS, post.PostHashHex])"
        queryParamsHandling="merge"
      >
        This post was removed by the author.
      </a>
    </div>

    <div
      *ngIf="globalVars.hasUserBlockedCreator(post.PosterPublicKeyBase58Check)"
      class="p-15px background-color-grey d-flex align-items-center justify-content-center fs-15px"
    >
      <a
        class="link--unstyled"
        style="text-align: center"
        [routerLink]="getRouterLink(['/' + globalVars.RouteNames.USER_PREFIX, post.ProfileEntryResponse.Username])"
        queryParamsHandling="merge"
      >
        This is a post from {{ post.ProfileEntryResponse.Username }} who you have blocked. Click here to visit their
        profile to unblock them.
      </a>
    </div>

    <div
      *ngIf="!post.IsHidden && !hidingPost && !globalVars.hasUserBlockedCreator(postContent.PosterPublicKeyBase58Check)"
      class="d-flex flex-column js-feed-post"
      [ngStyle]="{ 'border-radius': setBorder ? '12px 12px 0 0' : '' }"
    >
      <a
        (click)="onPostClicked($event)"
        Class="link--unstyled position-relative"
        [ngClass]="{
          'cursor-inherit': !contentShouldLinkToThread
        }"
      >
        <div
          *ngIf="showReplyingTo && post.ParentStakeID != ''"
          class="pl-15px pt-5px align-items-center"
          style="margin-bottom: -5px"
        >
          <a
            class="fc-muted font-weight-semibold fs-15px"
            queryParamsHandling="merge"
            [routerLink]="getRouterLink(['/' + globalVars.RouteNames.USER_PREFIX, post.ParentPosts[0].ProfileEntryResponse.Username])"
          >
            replying to {{ post.ParentPosts[0].ProfileEntryResponse.Username }}
          </a>
        </div>
        <div
          *ngIf="reposterProfile"
          class="feed-post__container d-flex justify-content-left w-100 pb-5px"
          [ngClass]="{
            'px-15px': includePaddingOnPost,
            'pt-10px': includePaddingOnPost
          }"
        >
          <a
            class="fc-muted font-weight-semibold align-items-center"
            queryParamsHandling="merge"
            [routerLink]="getRouterLink(['/' + globalVars.RouteNames.USER_PREFIX, reposterProfile.Username])"
          >
            <i class="icon-repost fs-20px" style="vertical-align: middle"></i>
            <span style="vertical-align: middle" class="fs-15px">@{{ reposterProfile.Username }} reposted</span>
          </a>

          <feed-post-dropdown
            *ngIf="showDropdown"
            class="ml-auto"
            style="right: 15px"
            [post]="post"
            [postContent]="postContent"
            [nftEntryResponses]="nftEntryResponses"
            (postHidden)="hidePost()"
            (userBlocked)="blockUser()"
            (toggleGlobalFeed)="_addPostToGlobalFeed()"
          ></feed-post-dropdown>
        </div>

        <div
          *ngIf="postContent.IsHidden"
          class="p-10px background-color-grey d-flex align-items-center justify-content-center fs-15px"
          [ngClass]="{
            'px-15px': includePaddingOnPost,
            'pb-15px': includePaddingOnPost,
            'pt-15px': includePaddingOnPost && !reposterProfile
          }"
        >
          <a
            (click)="onPostClicked($event)"
            class="link--unstyled"
            [routerLink]="getRouterLink(['/' + globalVars.RouteNames.POSTS, postContent.PostHashHex])"
            queryParamsHandling="merge"
          >
            The original post was removed by its author.
          </a>
        </div>

        <ng-template #creatorCoinInfo>
          <!-- Coin price-->
          <a
            class="feed-post__coin-price-holder"
            (click)="openBuyCreatorCoinModal($event, postContent.ProfileEntryResponse.Username)"
          >
            <span class="text-grey5">
              ~{{ globalVars.nanosToUSD(postContent.ProfileEntryResponse.CoinPriceDeSoNanos, 2) }}
            </span>

            <!-- Buy link -->
            Buy
          </a>
        </ng-template>

        <div
          class="feed-post__container justify-content-left w-100"
          [ngClass]="{
            'px-15px': includePaddingOnPost,
            'pb-15px': includePaddingOnPost,
            'pt-15px': includePaddingOnPost && !reposterProfile
          }"
          [ngStyle]="{
            'border-radius': showLeftSelectedBorder && cardStyle ? (postContent.IsNFT && showNFTDetails ? '12px 0' : '12px') : ''
          }"
          *ngIf="!postContent.IsHidden"
        >
          <!-- Avatar and top 2 header rows -->
          <div class="d-flex position-relative">
            <div class="feed-post__avatar-container">
              <a
                class="feed-post__avatar"
                [avatar]="postContent.ProfileEntryResponse.PublicKeyBase58Check"
                [routerLink]="getRouterLink(['/' + globalVars.RouteNames.USER_PREFIX, postContent.ProfileEntryResponse.Username])"
                queryParamsHandling="merge"
              ></a>
              <div *ngIf="showThreadConnectionLine" class="feed-post__parent-thread-connector"></div>
            </div>

            <div>
              <div class="d-flex align-items-center">
                <!-- Username-->
                <a
                  class="feed-post__username fc-default font-weight-bold"
                  [routerLink]="['/' + globalVars.RouteNames.USER_PREFIX, postContent.ProfileEntryResponse.Username]"
                  queryParamsHandling="merge"
                >
                  {{ postContent.ProfileEntryResponse.Username }}
                </a>

                <span *ngIf="postContent.ProfileEntryResponse.IsVerified" class="ml-1 text-primary">
                  <i class="fas fa-check-circle fa-md align-middle"></i>
                </span>
                <div class="desktop-creator-coin-info">
                  <ng-container *ngTemplateOutlet="creatorCoinInfo"></ng-container>
                </div>

                <feed-post-dropdown
                  *ngIf="showDropdown && !reposterProfile"
                  class="ml-auto"
                  [post]="post"
                  [postContent]="postContent"
                  [nftEntryResponses]="nftEntryResponses"
                  (postHidden)="hidePost()"
                  (userBlocked)="blockUser()"
                  (toggleGlobalFeed)="_addPostToGlobalFeed($event)"
                  (togglePostPin)="_pinPostToGlobalFeed($event)"
                ></feed-post-dropdown>
              </div>

              <!-- Follow button-->
              <div class="feed-post__second-header-ln">
                <follow-button
                  *ngIf="!hideFollowLink"
                  class="fs-12px"
                  [displayAsLink]="true"
                  [followLinkClass]="'link--unstyled'"
                  [followedPubKeyBase58Check]="postContent.ProfileEntryResponse.PublicKeyBase58Check"
                  [creatorCoinTemplate]="creatorCoinInfo"
                ></follow-button>
              </div>
            </div>
          </div>
          <!-- Avatar -->

          <!-- Main Content -->
          <div class="w-100">
            <div *ngIf="showReplyingToContent" class="fs-13px text-muted pt-1 pb-2">
              replying to
              <a
                [routerLink]="getRouterLink(['/' + this.globalVars.RouteNames.USER_PREFIX, parentPost.ProfileEntryResponse.Username])"
                queryParamsHandling="merge"
              >
                @{{ parentPost.ProfileEntryResponse.Username }}
              </a>
            </div>

            <!-- Content -->
            <div
              class="feed-post__content"
              [ngClass]="{ 'pb-10px': quotedContent && showQuotedContent }"
              [innerHTML]="postContent.Body | sanitizeAndAutoLink"
              queryParamsHandling="merge"
            ></div>

            <!-- Media, don't show images on comment posts. -->
            <div
              *ngIf="postContent.ImageURLs && postContent.ImageURLs[0] && !post.ParentStakeID"
              class="feed-post__image-container"
              [ngClass]="{ 'mb-10px': quotedContent && showQuotedContent }"
            >
              <img
                (click)="openImgModal($event, postContent.ImageURLs[0])"
                data-toggle="modal"
                class="feed-post__image"
                src="{{ mapImageURLs(postContent.ImageURLs[0]) }}"
              />
            </div>

            <!-- Video -->
            <div
              *ngIf="postContent.VideoURLs && postContent.VideoURLs[0] && !post.ParentStakeID"
              class="feed-post__video-container"
              [ngClass]="{ 'mb-10px': quotedContent && showQuotedContent }"
            >
              <iframe
                [src]="postContent.VideoURLs[0] | sanitizeVideoUrl"
                allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
                allowfullscreen
                class="feed-post__video"
              >
              </iframe>
            </div>

            <!-- Embedded Content -->
            <div
              *ngIf="constructedEmbedURL"
              class="feed-post__embed-container"
              [ngClass]="{ 'mb-10px': quotedContent && showQuotedContent }"
            >
              <iframe
                id="embed-iframe"
                [height]="getEmbedHeight()"
                class="feed-post__image"
                [ngStyle]="{
                  'margin-top': setNegativeMargins(constructedEmbedURL, globalVars) ? '-65px' : '',
                  'margin-bottom': setNegativeMargins(constructedEmbedURL, globalVars) ? '-65px' : '',
                  'max-width': getEmbedWidth(constructedEmbedURL)
                }"
                [src]="constructedEmbedURL | sanitizeEmbed"
                frameborder="0"
                allow="picture-in-picture; clipboard-write; encrypted-media; gyroscope; accelerometer; encrypted-media;"
                allowfullscreen
              ></iframe>
            </div>

            <feed-post
              *ngIf="quotedContent && showQuotedContent"
              [post]="quotedContent"
              [isQuotedContent]="true"
              [includePaddingOnPost]="true"
              [showIconRow]="false"
              [showDropdown]="false"
              [showQuotedContent]="false"
              [contentShouldLinkToThread]="contentShouldLinkToThread"
              [hoverable]="hoverable"
              [showNFTDetails]="true"
              [cardStyle]="true"
            ></feed-post>

            <!-- Bottom Buttons -->
            <div *ngIf="!showInteractionDetails" class="feed-post__icon-row-holder">
              <!-- Like, Comment, Repost, Share Buttons -->
              <feed-post-icon-row
                *ngIf="showIconRow"
                [post]="post"
                [postContent]="postContent"
                [parentPost]="parentPost"
                [afterCommentCreatedCallback]="afterCommentCreatedCallback"
                [afterRepostCreatedCallback]="afterRepostCreatedCallback"
                [inTutorial]="inTutorial"
                (diamondSent)="diamondSent.emit()"
              ></feed-post-icon-row>

              <!-- Admin Buttons -->
              <div *ngIf="showAdminRow" class="pt-10px fs-15px d-flex align-items-center">
                <div
                  *ngIf="!postContent.InGlobalFeed && !addingPostToGlobalFeed"
                  (click)="_addPostToGlobalFeed($event)"
                  class="py-5px px-10px admin__add-to-feed-button"
                >
                  <i class="fas fa-folder-plus"></i>
                  Add to global feed
                </div>
                <div
                  *ngIf="!postContent.InGlobalFeed && addingPostToGlobalFeed"
                  class="py-5px px-10px admin__add-to-feed-button"
                >
                  <i class="fas fa-folder-plus"></i>
                  Adding...
                </div>
                <div
                  *ngIf="postContent.InGlobalFeed && !addingPostToGlobalFeed"
                  (click)="_addPostToGlobalFeed($event)"
                  class="py-5px px-10px admin__remove-from-feed-button"
                >
                  <i class="fas fa-check"></i>
                  On global feed
                </div>
                <div
                  *ngIf="postContent.InGlobalFeed && addingPostToGlobalFeed"
                  class="py-5px px-10px admin__remove-from-feed-button"
                >
                  <i class="fas fa-check"></i>
                  Removing...
                </div>

                <div>
                  &nbsp;&middot;
                  <a
                    [routerLink]="getRouterLink(['/' + globalVars.RouteNames.POSTS, postContent.PostHashHex])"
                    queryParamsHandling="merge"
                  >
                    View
                  </a>
                </div>

                <div class="text-grey8A">
                  &nbsp;&middot;&nbsp;{{ globalVars.convertTstampToDaysOrHours(postContent.TimestampNanos) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <div
        *ngIf="showInteractionDetails"
        class="feed-post__container d-flex justify-content-left w-100"
        [ngClass]="{
          'px-15px': includePaddingOnPost,
          'pb-15px': includePaddingOnPost
        }"
      >
        <div class="w-100" style="margin-left: -5px">
          <feed-post-icon-row
            class="mt-2px"
            *ngIf="showIconRow"
            [post]="post"
            [postContent]="postContent"
            [parentPost]="parentPost"
            [hideNumbers]="true"
            [afterCommentCreatedCallback]="afterCommentCreatedCallback"
            [afterRepostCreatedCallback]="afterRepostCreatedCallback"
            (diamondSent)="diamondSent.emit()"
          ></feed-post-icon-row>
        </div>
      </div>
      <div *ngIf="showInteractionDetails" class="d-flex justify-content-between align-items-center border-top p-16px fc-muted">
        <div [ngClass]="{ 'flex-column': globalVars.isMobile() }" class="d-flex justify-content-around w-100">
          <span [ngClass]="{ 'mb-5px': globalVars.isMobile() }" (click)="openRepostsPage($event)" class="interaction-detail">
            {{ globalVars.abbreviateNumber(post.RepostCount, 0) }}
            Repost{{ post.RepostCount === 1 ? "" : "s" }}
          </span>
          <span (click)="openQuoteRepostsModal($event)" class="interaction-detail">
            {{ globalVars.abbreviateNumber(post.QuoteRepostCount, 0) }}
            Quote Repost{{ post.QuoteRepostCount === 1 ? "" : "s" }}
          </span>
        </div>
        <div [ngClass]="{ 'flex-column': globalVars.isMobile() }" class="d-flex justify-content-around w-100">
          <span [ngClass]="{ 'mb-5px': globalVars.isMobile() }" (click)="openLikesPage($event)" class="interaction-detail">
            {{ globalVars.abbreviateNumber(post.LikeCount, 0) }}
            Like{{ post.LikeCount === 1 ? "" : "s" }}
          </span>
          <span (click)="openDiamondsPage($event)" class="interaction-detail">
            {{ globalVars.abbreviateNumber(post.DiamondCount, 0) }}
            Diamond{{ post.DiamondCount === 1 ? "" : "s" }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="showNFTDetails && postContent.IsNFT"
    class="fs-15px w-100 feed-post__nft-footer"
    [ngStyle]="{ 'border-radius': setBorder || cardStyle ? '0 0 12px 12px' : '' }"
  >
    <div class="d-flex justify-content-between h-100">
      <div class="d-flex flex-column justify-content-between">
        <div class="d-flex">
          <span *ngIf="showAvailableSerialNumbers">{{ serialNumbersDisplay }}&nbsp;</span>
          <div
            *ngIf="!showAvailableSerialNumbers"
            class="cursor-pointer"
            (click)="NFTMOfNTooltip.toggle(); toggleShowMOfNNFTTooltip()"
            matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
            [matTooltip]="mOfNNFTTooltip"
            #NFTMOfNTooltip="matTooltip"
          >
            {{ postContent.NumNFTCopiesForSale }} of {{ postContent.NumNFTCopies }} for sale
          </div>
          <span
            *ngIf="postContent.HasUnlockable && !globalVars.isMobile()"
            class="cursor-pointer d-lg-inline-block d-block nft-unlockable-content"
            (click)="tooltip.toggle(); toggleShowUnlockableContent()"
            matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
            [matTooltip]="unlockableTooltip"
            #tooltip="matTooltip"
          >
            <i-feather name="Lock"></i-feather>
            {{
              decryptableNFTEntryResponses?.length
                ? showUnlockableContent
                  ? "Hide Unlockable"
                  : "Show Unlockable"
                : "Unlockable Content"
            }}
          </span>
        </div>
        <div *ngIf="lowBid !== undefined">
          From: {{ globalVars.nanosToDeSo(lowBid, 2) }} $DESO ~{{ globalVars.nanosToUSD(lowBid, 2) }}
        </div>
      </div>
      <div
        class="d-flex flex-column justify-content-center align-items-end"
        [ngClass]="{ 'justify-content-between': postContent.HasUnlockable && globalVars.isMobile() }"
      >
        <span
          *ngIf="postContent.HasUnlockable && globalVars.isMobile()"
          class="cursor-pointer d-lg-inline-block d-block nft-unlockable-content mb-8px"
          (click)="tooltip.toggle(); toggleShowUnlockableContent()"
          matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
          [matTooltip]="unlockableTooltip"
          #tooltip="matTooltip"
        >
          <i-feather name="Lock"></i-feather>
          {{
            decryptableNFTEntryResponses?.length
              ? showUnlockableContent
                ? "Hide Unlockable"
                : "Show Unlockable"
              : "Unlockable Content"
          }}
        </span>
        <div class="nft-bid-btn">
          <button style="height: 32px" [ngClass]="{ 'mt-15px': isQuotedContent }" (click)="openPlaceBidModal($event)" *ngIf="showPlaceABid">
            <span>
              <i-feather name="shopping-cart"></i-feather>
              Place a bid
            </span>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="showUnlockableContent">
      <div *ngFor="let nftEntry of decryptableNFTEntryResponses" class="d-flex flex-row">
        <div>#{{ nftEntry.SerialNumber }}:&nbsp;</div>
        <div [innerHTML]="nftEntry.DecryptedUnlockableText | sanitizeAndAutoLink"></div>
      </div>
    </div>
  </div>
</div>
