<div class="d-flex" dropdown (click)="$event.stopPropagation()" container="body" style="align-items: center">
  <div class="d-inline-block d-lg-none fs-12px fc-muted pr-5px">
    <span class="d-inline-block ml-1 cursor-pointer lh-12px fc-muted align-middle" matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size" mat-raised-button #tooltip="matTooltip" [matTooltip]="globalVars.convertTstampToDateTime(postContent.TimestampNanos)">{{
      globalVars.convertTstampToDaysOrHours(postContent.TimestampNanos) }}</span>
  </div>
  <a class="js-feed-post__dropdown-toggle link--unstyled text-grey9" role="button" dropdownToggle>
    <i class="fas fa-ellipsis-h"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-right p-0 bc-dropdown-menu fs-15px fc-muted" style="width: 164px" *dropdownMenu>
    <div>
      <a
        class="dropdown-menu-item d-block link--unstyled p-10px feed-post__dropdown-menu-item"
        (click)="copyPostLinkToClipboard($event)"
      >
        Link to Post
      </a>
      <a
        *ngIf="globalVars.loggedInUser.PublicKeyBase58Check === post.PosterPublicKeyBase58Check && !post.IsNFT && !post.ParentStakeID"
        class="dropdown-menu-item d-block link--unstyled p-10px feed-post__dropdown-menu-item"
        (click)="openMintNftPage($event)"
      >
        Create NFT
      </a>
      <a
        *ngIf="showCreateNFTAuction()"
        class="dropdown-menu-item d-block link--unstyled p-10px feed-post__dropdown-menu-item"
        (click)="openCreateNFTAuctionModal($event)"
      >
        Put On Sale
      </a>
      <a
        *ngIf="post.IsNFT && globalVars.showAdminTools()"
        class="dropdown-menu-item d-block link--unstyled p-10px feed-post__dropdown-menu-item"
        (click)="dropNFT()"
      >
        Add NFT to drop
      </a>
      <a
        class="dropdown-menu-item d-block link--unstyled p-10px feed-post__dropdown-menu-item"
        (click)="reportPost()"
      >
        Report Content
      </a>
      <a
        *ngIf="showHidePostDropdownItem()"
        class="dropdown-menu-item d-block link--unstyled p-10px feed-post__dropdown-menu-item"
        (click)="hidePost()"
      >
        Hide
      </a>
      <a
        *ngIf="showBlockUserDropdownItem()"
        class="dropdown-menu-item d-block link--unstyled p-10px feed-post__dropdown-menu-item"
        (click)="blockUser()"
      >
        Block User
      </a>
      <a
        *ngIf="showAddToGlobalFeedDropdownItem()"
        class="dropdown-menu-item d-block link--unstyled p-10px feed-post__dropdown-menu-item"
        (click)="_addPostToGlobalFeed($event)"
      >
        Add To Feed
      </a>
      <a
        *ngIf="showRemoveFromGlobalFeedDropdownItem()"
        class="dropdown-menu-item d-block link--unstyled p-10px feed-post__dropdown-menu-item"
        (click)="_addPostToGlobalFeed($event)"
      >
        Remove From Feed
      </a>
      <a
        *ngIf="showPinPostToGlobalFeedDropdownItem()"
        class="dropdown-menu-item d-block link--unstyled p-10px feed-post__dropdown-menu-item"
        (click)="_pinPostToGlobalFeed($event)"
      >
        Pin To Feed
      </a>
      <a
        *ngIf="showUnpinPostFromGlobalFeedDropdownItem()"
        class="dropdown-menu-item d-block link--unstyled p-10px feed-post__dropdown-menu-item"
        (click)="_pinPostToGlobalFeed($event)"
      >
        Unpin From Feed
      </a>
    </div>
  </div>
</div>
