<simple-center-loader *ngIf="loading"></simple-center-loader>

<!--Profile not found-->
<not-found *ngIf="!profile && !loading"></not-found>

<div *ngIf="profile && !loading" class="flex-grow-1">
  <!-- Top Card With Creator Info -->
  <creator-profile-top-card
    *ngIf="profile && !loading"
    [profile]="profile"
    (userUnblocked)="unblockUser()"
    (userBlocked)="blockUser()"
  ></creator-profile-top-card>
  <wallet-widget *ngIf="globalVars.isMobile() && profile.PublicKeyBase58Check === globalVars.loggedInUser?.PublicKeyBase58Check"></wallet-widget>
  <!-- Feed Selector -->
  <tab-selector
    [tabs]="['Posts', 'Creator Coin', 'Diamonds', 'NFTs']"
    [activeTab]="activeTab"
    (tabClick)="_handleTabClick($event)"
  ></tab-selector>

  <!-- Reserved -->
  <div *ngIf="showProfileAsReserved() && activeTab === 'Posts'" class="p-15px">
    <div class="background-color-grey p-35px br-12px d-flex flex-row align-items-center">
      <i class="far fa-clock fs-1 fc-muted"></i>
      <div class="ml-25px fc-default">
        <p class="roboto-mono fs-18px mb-5px font-weight-semibold">This profile is reserved</p>
        <p class="roboto-mono fs-15px">@{{ profile.Username }} has not joined Bitclout yet.</p>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-30px">
      <div>
        <p class="font-weight-semibold roboto-mono mb-10px">
          Are you @{{ profile.Username }} on Twitter? To claim this profile:
        </p>
        <ol>
          <li class="font-weight-semibold">
            <p
              class="roboto-mono mb-10px font-weight-semibold cursor-pointer"
              style="text-decoration: line-through"
              (click)="globalVars.launchSignupFlow()"
            >
              Create a brand new BitClout public key.
            </p>
          </li>
          <li class="font-weight-semibold">
            <p class="roboto-mono mb-10px font-weight-semibold">
              <a target="_blank" href="{{ tweetToClaimLink() }}">
                Tweet your BitClout public key and tag #bitclout.
              </a>
              <span class="d-block fs-12px font-weight-normal">
                Note: The public key you tweet will be swapped with the public key currently associated with this
                profile. This will also swap all creator coin holdings. Please make sure that the public key you tweet
                does not have any creator coins, if you do not want them to be lost.
              </span>
            </p>
          </li>
          <li class="font-weight-semibold">
            <p class="roboto-mono mb-10px font-weight-semibold">Your username will be transferred within 48 hours.</p>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <!-- Posts -->
  <div *ngIf="profile && activeTab == 'Posts' && !loading">
    <creator-profile-posts
      [profile]="profile"
      [showProfileAsReserved]="showProfileAsReserved()"
      (blockUser)="userBlocked()"
    ></creator-profile-posts>
    <div *ngIf="globalVars.hasUserBlockedCreator(profile.PublicKeyBase58Check)" class="w-100 d-flex p-15px">
      <span>
        You have blocked {{ profile.Username }}.
        <a (click)="unblock()">Unblock</a>
        to see their posts.
      </span>
    </div>
  </div>

  <!-- Creator Coin Info -->
  <div
    class="w-100 d-flex flex-column creator-profile-details__coin-container"
    *ngIf="activeTab == 'Creator Coin' && !loading"
  >
    <div
      *ngIf="profile.PublicKeyBase58Check !== globalVars?.loggedInUser?.PublicKeyBase58Check"
      class="creator-profile-details__coin-info"
    >
      <div [ngClass]="{ 'd-flex flex-column': globalVars.isMobile() }">
        <div
          class="d-inline-block"
          [ngClass]="{ 'col-4 ml-0px mb-0': !globalVars.isMobile(), 'ml-16px mb-5px': globalVars.isMobile() }"
          [ngStyle]="{ 'text-align': globalVars.isMobile() ? 'left' : 'center' }"
        >
          <span class="font-weight-bold">≈ {{ (profile.CoinEntry.CoinsInCirculationNanos / 1e9).toFixed(2) }}</span>
          <span> Coins In Circulation</span>
        </div>
        <div
          class="d-inline-block align-items-center"
          [ngClass]="{ 'col-4 ml-0px mb-0': !globalVars.isMobile(), 'ml-16px mb-5px': globalVars.isMobile() }"
          [ngStyle]="{ 'text-align': globalVars.isMobile() ? 'left' : 'center' }"
        >
          <span class="font-weight-bold">≈ {{ totalUSDLocked() }}</span>
          <span> Total USD Locked</span>
        </div>
        <div
          class="d-inline-block align-items-center mb-0"
          [ngClass]="{ 'col-4 ml-0px': !globalVars.isMobile(), 'ml-16px': globalVars.isMobile() }"
          [ngStyle]="{ 'text-align': globalVars.isMobile() ? 'left' : 'center' }"
        >
          <span class="font-weight-bold">≈ {{ usdMarketCap() }}</span>
          <span> USD Market Cap</span>
        </div>
      </div>
    </div>
    <creator-profile-hodlers [profile]="profile"></creator-profile-hodlers>
    <div class="w-100 p-35px"></div>
  </div>

  <!-- Diamonds -->
  <div class="w-100 d-flex flex-column" *ngIf="activeTab == 'Diamonds' && !loading">
    <creator-diamonds [profile]="profile"></creator-diamonds>
    <div class="w-100 p-35px"></div>
  </div>

  <!-- NFTs -->
  <div class="w-100 d-flex flex-column" *ngIf="activeTab == 'NFTs' && !loading">
    <creator-profile-nfts
      [profile]="profile"
      [showProfileAsReserved]="showProfileAsReserved()"
      (blockUser)="userBlocked()"
    ></creator-profile-nfts>
    <div class="w-100 p-35px"></div>
  </div>
</div>
<!-- SPACER FOR BOTTOM BAR ON MOBILE -->
<div class="global__bottom-bar-mobile-height"></div>
