<div class="flex-grow-1 border br-10px">
  <div class="tutorial-header">
    <div class="d-flex justify-content-between">
      <div class="tutorial-title">Give a Diamond</div>
      <div class="fc-secondary fs-15px">Step 5/6</div>
    </div>
  </div>
  <!-- Top Bar -->
  <div class="fs-15px p-16px background-color-white">
    <p>
      Diamonds are tips that send money directly to the poster.
    </p>
    <p class="mt-3">
      <b>Tap the diamond button to give your first diamond!</b>
    </p>
  </div>

  <div class="p-5px background-color-white">
    <simple-center-loader *ngIf="loading"></simple-center-loader>
    <div *ngIf="!loading">
      <feed-post
        [post]="post"
        [includePaddingOnPost]="true"
        [contentShouldLinkToThread]="false"
        [showLeftSelectedBorder]="true"
        [cardStyle]="true"
        [inTutorial]="true"
        (diamondSent)="onDiamondSent()"
      ></feed-post>
    </div>
  </div>
  <div class="background-color-white p-16px" style="border-radius: 0px 0px 16px 16px">
    <a class="fs-15px fc-secondary" (click)="globalVars.skipTutorial()">Cancel</a>
  </div>
</div>
