.flex-down {
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
}

.w-fourty {
  width: 40%;
}

.w-sixty-max {
  max-width: 60%;
}

.ccListItem:hover {
  background-color: var(--border)!important;
  cursor: pointer;
}

.listActive {
  background-color: var(--border)!important;
}

.ovy {
  overflow-y: auto !important;
  height:100%;
}


.profilePic {
  border-radius: 10px;
  height: 5rem;
}

.pr-icon-settings {
  padding-right: 100px;
}

.cc-info {
  background-color: var(--secondary);
}
