<div class="global__desktop" *ngIf="!globalVars.isMobile()">
  <left-bar></left-bar>
  <div class="global__content__flex">
    <div class="global__content__width d-flex vh-100">
      <div class="flex-down w-100">
        <div class="w-100 global__top-bar__height d-flex align-items-center pl-15px fs-18px font-weight-bold border-bottom border-color-grey">
          Casts powered by CloutCast
        </div>
        <br />
        <div class="flex-row">
          <div class="w-thirty">
            SubMenu
          </div>
          <div class="flex-grow-1">
            This would be the page.
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>



<div class="global__mobile flex-column" *ngIf="globalVars.isMobile()">
  <left-bar-mobile></left-bar-mobile>

  <div class="d-flex flex-column flex-grow-1 vh-100">
    <!-- Header -->
    <div class="global__top-bar__height d-flex align-items-center fs-18px font-weight-bold pl-15px border-bottom border-color-grey">
      <top-bar-mobile-navigation-control class="mr-15px d-lg-none d-inline-block"></top-bar-mobile-navigation-control>

      Casts powered by CloutCast
    
    </div>
  </div>
</div>