<div class="global__sidebar__inner">
  <!-- Search Bar -->
  <search-bar></search-bar>

  <div class="pt-10px"></div>

  <div class="pb-10px">
    <countdown-timer [borderRadiusSize]="12" [fontWeight]="700"></countdown-timer>
  </div>

  <!-- BitClout Price / Balance -->
  <div class="right-bar-creators__balance-box br-12px p-15px mb-30px fs-13px text-grey5 font-weight-bold">
    <div class="d-flex justify-content-between">
      <div>$BitClout Price</div>
      <div>
        ~{{ globalVars.bitcloutToUSDExchangeRateToDisplay }}
        <span class="text-muted">USD per coin</span>
      </div>
    </div>
    <div *ngIf="globalVars.loggedInUser" class="d-flex justify-content-between pt-10px">
      <div class="d-flex" style="min-width: 150px">Your $BitClout</div>
      <div class="d-flex align-items-center justify-content-end flex-wrap">
        <div>
          <!-- Amount in BitClout-->
          {{ globalVars.nanosToBitClout(globalVars.loggedInUser.BalanceNanos) }}
        </div>

        <div class="d-flex text-muted">
          <!-- Amount in USD-->
          <div class="ml-10px mr-10px">≈</div>
          <div *ngIf="!globalVars.satoshisPerBitCloutExchangeRate">Fetching... USD</div>
          <div *ngIf="globalVars.satoshisPerBitCloutExchangeRate">
            {{ globalVars.nanosToUSD(globalVars.loggedInUser.BalanceNanos, 2) }} USD
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="globalVars.loggedInUser" class="d-flex justify-content-between pt-10px">
      <div class="d-flex" style="min-width: 150px">Total Hodled</div>
      <div class="d-flex align-items-center justify-content-end flex-wrap">
        <div>
          <!-- Amount in BitClout-->
          ≈  {{ globalVars.nanosToUSD(totalValue(), 2) }}
        </div>

        <div class="d-flex text-muted">
          <!-- Amount in USD-->
          <div class="ml-10px">USD</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sign Up Flow -->
  <div *ngIf="globalVars.loggedInUser == null" class="mb-30px">
    <right-bar-signup></right-bar-signup>
  </div>

  <!-- Title -->
  <div
    class="fs-15px text-grey5 font-weight-bold mb-10px d-flex flex-column"
    [ngClass]="{ 'pb-10px': !activeRightTabOption.poweredBy }"
  >
    <div>
      <select
        #rightBarSelect
        id="right-bar-chart-select"
        class="right-bar-select-box fs-15px text-grey5 font-weight-bold cursor-pointer"
        [ngStyle]="{ width: selectedOptionWidth }"
        (change)="selectTab()"
        [(ngModel)]="activeTab"
      >
        <option
          *ngFor="let option of chartMap | keyvalue"
          [value]="option.key"
          style="background-color: none"
          class="fs-15px text-grey5 font-weight-bold"
        >
          {{ option.key }}
        </option>
      </select>
    </div>
    <div class="pt-5px" *ngIf="activeRightTabOption.poweredBy">
      <a class="link--unstyled fs-12px text-grey7" [href]="activeRightTabOption.poweredBy.link" target="_blank">
        <i class="fas fa-external-link-alt pr-5px"></i>
        Powered by {{ activeRightTabOption.poweredBy.name }}
      </a>
    </div>
  </div>

  <!-- Creators -->
  <right-bar-creators-leaderboard [activeTab]="activeTab"></right-bar-creators-leaderboard>
</div>
