<div class="likes-modal-container">
  <div *ngIf="!globalVars.isMobile()" class="w-100 d-flex align-items-center border-bottom fc-secondary">
    <div class="p-15px fs-25px font-weight-bold d-flex align-items-center">
      <div class="fs-17px font-weight-bold">Liked By</div>
    </div>
  </div>

  <div class="flex-grow-1">
    <div #uiScroll *uiScroll="let profile of datasource">
      <simple-profile-card
        [profile]="profile"
        [followButtonOppositeSide]="true"
        [hideFollowLink]="true"
      ></simple-profile-card>
    </div>
  </div>

  <simple-center-loader *ngIf="loading"></simple-center-loader>
</div>
