<!-- Top Bar -->
<!-- FIXME: TODO: post threads: loading skeletons -->
<div *ngIf="nftPost" style="padding-bottom: 20vh" class="d-flex flex-column">
  <div
    class="global__top-bar d-flex align-items-center justify-content-between fs-18px font-weight-bold px-15px border-bottom border-color-grey"
  >
    <div class="d-flex align-items-center">
      <top-bar-mobile-navigation-control class="mr-15px d-lg-none d-inline-block"></top-bar-mobile-navigation-control>

      <div>{{ nftPost.ProfileEntryResponse.Username }}'s Collectible</div>
    </div>
  </div>

  <div class="global__top-bar__height"></div>

  <div class="border-bottom border-color-grey">
    <!--  afterCommentCreatedCallback explanation: Here, the "post" is a top-level post. A new comment on a -->
    <!--  top-level post should be prepended to the post's list of comments -->
    <feed-post
      [post]="nftPost"
      [includePaddingOnPost]="true"
      [contentShouldLinkToThread]="true"
      [isParentPostInThread]="true"
      [showLeftSelectedBorder]="true"
      [showInteractionDetails]="true"
      [blocked]="isPostBlocked(nftPost)"
      [nftBidData]="nftBidData"
      [showNFTDetails]="true"
      [showExpandedNFTDetails]="true"
      (userBlocked)="afterUserBlocked($event)"
    ></feed-post>
  </div>
<!--  <div style="background-color: var(&#45;&#45;border) !important" class="p-15px fs-15px pb-0">-->
<!--    <div class="d-flex justify-content-between align-items-center" style="line-height: 24px">-->
<!--      <div>-->
<!--        <span><b>{{ availableSerialNumbers?.length }} of {{ nftPost.NumNFTCopies }} available &nbsp;</b></span>-->
<!--        <span *ngIf="nftPost.HasUnlockable">|&nbsp;<i class="fas fa-lock"></i> Unlockable content</span>-->
<!--      </div>-->
<!--      <div>-->
<!--        <button-->
<!--          class="btn btn-primary font-weight-bold br-8px fs-13px"-->
<!--          (click)="openPlaceBidModal($event)"-->
<!--          *ngIf="showPlaceABid"-->
<!--        >-->
<!--          Place a bid-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div style="line-height: 24px;" *ngIf="highBid">-->
<!--      Highest: {{ highBid / 1e9 }} $CLOUT ~{{ globalVars.nanosToUSD(highBid, 2) }}-->
<!--    </div>-->
<!--    <div class="pt-5px" style="line-height: 24px;" *ngIf="lowBid">-->
<!--      From: {{ lowBid / 1e9 }} $CLOUT ~{{ globalVars.nanosToUSD(lowBid, 2) }}-->
<!--    </div>-->
<!--  </div>-->
  <div style="background-color: var(--border) !important;">
    <tab-selector [tabs]="tabs" [activeTab]="activeTab"></tab-selector>
  </div>
  <div *ngIf="!loading && !nftBidData.BidEntryResponses?.length" class="p-15px">
    There are no bids yet.
  </div>
  <div *ngIf="!loading && nftBidData.BidEntryResponses?.length">
    <div class="container d-flex align-items-center fs-15px p-15px border-bottom border-color-grey link--unstyled">
      <div class="col-5 p-0">Bidder</div>
      <div class="col-2 p-0" *ngIf="nftPost.NumNFTCopies > 1">Edition</div>
      <div class="p-0" [ngClass]="{ 'col-7': nftPost.NumNFTCopies == 1, 'col-5': nftPost.NumNFTCopies > 1 }">Bid Amount</div>
    </div>
    <div
      class="container d-flex align-items-center fs-15px p-15px border-bottom border-color-grey link--unstyled"
      *ngFor="let bidEntry of nftBidData.BidEntryResponses; let i = index">
      <div class="row no-gutters w-100">
        <div class="col-5 d-flex align-items-center mb-0 p-0">
          <!-- checkbox or radio button -->
          <input
            class="pr-10px"
            type="checkbox"
            style="width: 35px"
            *ngIf="nftPost.NumNFTCopies > 1 && userOwnsSerialNumber(bidEntry.SerialNumber)"
            [(ngModel)]="bidEntry.selected"
            (ngModelChange)="checkSelectedBidEntries(bidEntry)"/>
          <input
            class="pr-10px"
            type="radio"
            style="width: 35px"
            *ngIf="nftPost.NumNFTCopies === 1 && userOwnsSerialNumber(bidEntry.SerialNumber)"
            [value]="bidEntry"
            [(ngModel)]="selectedBid"
            (ngModelChange)="selectBidEntry(bidEntry)"/>
          <!-- Avatar -->
          <div class="simple-profile-card__avatar-container">
            <div
              class="simple-profile-card__avatar br-12px"
              [avatar]="bidEntry.PublicKeyBase58Check"
            ></div>
          </div>
          <div class="text-truncate holdings__name fs-15px">
            <div>
              <div class="fc-default font-weight-bold text-truncate holdings__name fs-15px">{{ bidEntry.ProfileEntryResponse?.Username || bidEntry.PublicKeyBase58Check }}</div>
              <span
                *ngIf="bidEntry.ProfileEntryResponse?.IsVerified"
                (click)="tooltip.toggle()"
                class="ml-1 mb-1 cursor-pointer text-primary"
                matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
                [matTooltip]="'This account is verified'"
                #tooltip="matTooltip"
              >
            <i class="fas fa-check-circle fa-md align-middle"></i>
          </span>
            </div>
            <div class="text-grey9" *ngIf="bidEntry.ProfileEntryResponse">
              {{ globalVars.nanosToUSD(bidEntry.ProfileEntryResponse.CoinPriceBitCloutNanos, 2) }}
            </div>
          </div>
        </div>
        <div class="col-2 d-flex align-items-center mb-0 p-0" *ngIf="nftPost.NumNFTCopies > 1">{{ bidEntry.SerialNumber > 0 && "#" + bidEntry.SerialNumber.toString() }}</div>
        <div
          class="d-flex align-items-center mb-0 justify-content-between p-0"
          [ngClass]="{ 'col-7': nftPost.NumNFTCopies == 1, 'col-5': nftPost.NumNFTCopies > 1 }"
        >
          <span>{{ bidEntry.BidAmountNanos / 1e9 }} $CLOUT</span>
          <span>~{{ globalVars.nanosToUSD(bidEntry.BidAmountNanos, 2) }}</span>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center p-15px" *ngIf="mySerialNumbersAvailable">
      <button
        class="btn btn-primary font-weight-bold fs-15px br-12px"
        style="height: 36px; width: 115px; line-height: 15px"
        [disabled]="sellNFTDisabled"
        (click)="sellNFT()"
      >
        Sell NFT
      </button>
      <span (click)="closeAuction()" class="fc-red pl-20px cursor-pointer">Close my auction</span>
    </div>
  </div>
</div>
