<!-- Posts -->
<simple-center-loader [height]="200" *ngIf="isLoading && datasource.adapter.isLoading"></simple-center-loader>
<div
  class="fs-15px text-grey5 font-weight-bold mb-10px d-flex flex-column px-15px pt-15px"
  *ngIf="!isLoading"
>
  <div>
    <select
      class="right-bar-select-box fs-15px text-grey5 font-weight-bold cursor-pointer"
      (ngModelChange)="onActiveTabChange($event)"
      [ngModel]="activeTab"
    >
      <option
        *ngFor="let option of tabs"
        [value]="option"
        class="fs-15px text-grey5 font-weight-bold"
      >
        {{ option }}
      </option>
    </select>
  </div>
</div>
<div
  *ngIf="
    !showProfileAsReserved && !isLoading && !nftResponse?.length && activeTab !== CreatorProfileNftsComponent.MY_BIDS
  "
  class="p-15px"
>
  <div class="background-color-grey p-35px br-12px d-flex flex-row align-items-center" style="text-align: center">
    <span *ngIf="profileBelongsToLoggedInUser(); else elseMissingPostBlock">Create an NFT.</span>
    <ng-template #elseMissingPostBlock>
      <span>@{{ profile.Username }} is on the platform but doesn't have any NFTs for sale.</span>
    </ng-template>
  </div>
</div>
<div *ngIf="!showProfileAsReserved && (!isLoading || loadingNewSelection)">
  <div *ngIf="!globalVars.hasUserBlockedCreator(profile.PublicKeyBase58Check)">
    <div
      #uiScroll *uiScroll="let nftEntry of datasource; let index = index"
      style="margin: 20px;"
      [ngClass]="{
      'br-12px': activeTab === CreatorProfileNftsComponent.MY_BIDS,
      'p-10px': activeTab === CreatorProfileNftsComponent.MY_BIDS,
      'background-color-grey': activeTab === CreatorProfileNftsComponent.MY_BIDS
      }"
      [ngStyle]="{
      'border': activeTab === CreatorProfileNftsComponent.MY_BIDS ? '1px solid var(--border)' : ''
      }"
    >
      <feed-post
        *ngIf="activeTab !== CreatorProfileNftsComponent.MY_BIDS && nftEntry.PostEntryResponse.ProfileEntryResponse"
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="nftEntry.PostEntryResponse"
        [afterCommentCreatedCallback]="_prependComment.bind(this, nftEntry.PostEntryResponse, index)"
        [blocked]="globalVars.hasUserBlockedCreator(profile.PublicKeyBase58Check)"
        [nftBidData]="nftEntry"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="true"
        [setBorder]="true"
        [linkToNFT]="true"
        [showAvailableSerialNumbers]="true"
        (userBlocked)="userBlocked()"
      ></feed-post>
      <div *ngIf="activeTab === CreatorProfileNftsComponent.MY_BIDS">
        <div class="row no-gutters w-100 pb-10px justify-content-start">
          <div class="d-flex align-items-center mb-0 p-5px">
            <i
              class="fas fa-trash pr-10px text-danger cursor-pointer fs-18px"
              (click)="cancelBid(nftEntry)"
            ></i>
          </div>
          <div
            class="d-flex align-items-center justify-content-center mb-0 p-5px fs-12px"
          >Serial Number: {{ nftEntry.SerialNumber > 0 && "#" + nftEntry.SerialNumber.toString() }}</div>
          <div
            class="d-flex align-items-center mb-0 justify-content-around p-5px fs-12px"
          >
            Bid Amount:
            <span class="px-5px">{{ nftEntry.BidAmountNanos / 1e9 }} $CLOUT</span>
            <span>~{{ globalVars.nanosToUSD(nftEntry.BidAmountNanos, 2) }}</span>
          </div>
        </div>
        <div class="br-12px background-color-white">
          <feed-post
            *ngIf="nftEntry.PostEntryResponse.ProfileEntryResponse"
            [contentShouldLinkToThread]="true"
            [includePaddingOnPost]="true"
            [post]="nftEntry.PostEntryResponse"
            [afterCommentCreatedCallback]="_prependComment.bind(this, nftEntry.PostEntryResponse, index)"
            [blocked]="globalVars.hasUserBlockedCreator(profile.PublicKeyBase58Check)"
            [setBorder]="true"
            [linkToNFT]="true"
            (userBlocked)="userBlocked()"
          ></feed-post>
        </div>
      </div>
    </div>
  </div>
</div>
