<div class="d-flex flex-column">
  <div *ngIf="!isMobile">
    <!-- Create Post -->
    <div *ngIf="globalVars.loggedInUser != null" class="desktop-create-post">
      <feed-create-post
        [numberOfRowsInTextArea]="2"
        [postRefreshFunc]="prependPostToFeed.bind(this)"
      ></feed-create-post>
    </div>
  </div>

  <!-- Mobile BitClout Price -->
  <div *ngIf="isMobile" class="d-flex border-bottom border-color-grey background-color-light-grey py-5px px-15px fs-12px">
    <div>$DESO Price&nbsp;&nbsp;&nbsp;</div>
    <div>
      <span>~{{ globalVars.bitcloutToUSDExchangeRateToDisplay }}</span>
      <span class="text-muted">&nbsp;USD per coin</span>
    </div>
  </div>

  <!-- Mobile email confirmation alert -->
  <div
    *ngIf="isMobile && globalVars.loggedInUser && !globalVars.loggedInUser.EmailVerified"
    class="d-flex border-bottom border-color-grey background-color-light-grey py-5px px-15px fs-12px"
  >
    <div>Your email is not verified.&nbsp;&nbsp;&nbsp;</div>
    <div>
      <div *ngIf="globalVars.loggedInUser.HasEmail">
        <a class="font-weight-bold" (click)="globalVars.resendVerifyEmail()" *ngIf="!globalVars.resentVerifyEmail">Resend Verification Email</a>
        <span *ngIf="globalVars.resentVerifyEmail">Sent!</span>
      </div>
      <a *ngIf="!globalVars.loggedInUser.HasEmail" [routerLink]="'/' + globalVars.RouteNames.SETTINGS" class="font-weight-bold">Update your email</a>
    </div>
  </div>
  <!-- Referral links alert -->
  <div
    *ngIf="globalVars.loggedInUser?.ReferralInfoResponses?.length > 0"
    class="d-flex border-bottom border-color-grey background-color-lemon-chiffon py-5px px-15px fs-12px"
  >
    <div style="color: #333333">You have a referral link!&nbsp;&nbsp;&nbsp;</div>
    <a [routerLink]="'/' + globalVars.RouteNames.REFERRALS" class="font-weight-bold">Find out more</a>
  </div>

  <div
    *ngIf="isMobile && globalVars.loggedInUser && !globalVars.loggedInUser.JumioVerified"
    class="border-bottom border-color-grey background-color-light-grey py-5px px-15px fs-12px"
  >
    <jumio-status></jumio-status>
  </div>
  <!-- Tab Selector -->
  <tab-selector
    [buttonSelector]="!isMobile"
    [tabs]="feedTabs"
    [activeTab]="activeTab"
    [newTabs]="newTabs"
    (tabClick)="_handleTabClick($event)"
  ></tab-selector>

  <countdown-timer *ngIf="nextNFTShowcaseTime"
    [timerText]="'The next NFT showcase drops in...'"
    [fontWeight]="500"
    [timerEnd]="nextNFTShowcaseTime"></countdown-timer>

  <div [id]="getPullToRefreshMarkerId()"></div>
  <div *ngIf="isMobile" style="margin-top: 60px"></div>

  <!-- Posts -->
  <div *ngIf="showGlobalOrFollowingPosts()">
    <div class="mobile-scroll" *ngFor="let post of postsToShow()">
      <div *ngIf="post.ProfileEntryResponse">
        <!--
            The post.parentPost stuff is a hack to make it so that a new comment shows up
            in the feed with the "replying to @[parentPost.Username]" content diplayed.
            post.parentPost is set in appendCommentAfterParentPost
          -->
        <feed-post
          *ngIf="!post.IsHidden"
          [post]="post"
          [includePaddingOnPost]="true"
          [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
          [afterRecloutCreatedCallback]="prependPostToFeed.bind(this)"
          [showReplyingToContent]="!!post.parentPost"
          [parentPost]="post.parentPost"
          [contentShouldLinkToThread]="true"
          [showLeftSelectedBorder]="post.IsPinned"
          [blocked]="globalVars.hasUserBlockedCreator(post.PosterPublicKeyBase58Check)"
          [cardStyle]="true"
          [showNFTDetails]="true"
          (postDeleted)="onPostHidden($event)"
          (userBlocked)="userBlocked()"
        ></feed-post>
      </div>
    </div>

    <div
      *ngIf="showMoreButton()"
      class="w-100 py-15px d-flex align-items-center justify-content-center cursor-pointer creator-leaderboard__load-more"
      (click)="loadMorePosts()"
    >
      <div *ngIf="!activeTabReadyForDisplay()" class="fs-15px">Load More</div>
      <div *ngIf="activeTabReadyForDisplay()" class="fs-15px">Loading...</div>
    </div>
  </div>

  <div *ngIf="activeTab === FeedComponent.SHOWCASE_TAB">
    <nft-showcase></nft-showcase>
  </div>

  <div
    *ngIf="showNoPostsFound()"
    class="d-flex flex-column align-items-center justify-content-center fc-muted fs-15px p-15px text-center"
    style="height: 400px"
  >
    <div>No posts yet</div>

    <div class="mt-10px">
      <a
        class=""
        [routerLink]="['/' + globalVars.RouteNames.BROWSE]"
        [queryParams]="{ feedTab: FeedComponent.GLOBAL_TAB }"
        queryParamsHandling="merge"
      >
        View the global feed
      </a>
      to find more people to follow
    </div>
  </div>
  <simple-center-loader *ngIf="showLoadingSpinner()"></simple-center-loader>
  <!-- SPACER FOR BOTTOM BAR ON MOBILE -->
  <div class="global__bottom-bar-mobile-height"></div>
  <div class="global__bottom-bar-mobile-height"></div>
</div>
