<div *ngFor="let nftCollection of nftCollections">
  <div class="br-12px m-15px">
    <feed-post
      [post]="nftCollection.PostEntryResponse"
      [includePaddingOnPost]="true"
      [showReplyingToContent]="nftCollection.PostEntryResponse.parentPost"
      [parentPost]="nftCollection.PostEntryResponse.parentPost"
      [contentShouldLinkToThread]="true"
      [showNFTDetails]="true"
      [showExpandedNFTDetails]="true"
      [setBorder]="true"
      [nftCollectionHighBid]="nftCollection.HighestBidAmountNanos"
      [nftCollectionLowBid]="nftCollection.LowestBidAmountNanos"
    ></feed-post>
  </div>
</div>

<simple-center-loader *ngIf="loading"></simple-center-loader>
