<div class="fs-16px messages-filter-menu__container">
  <div class="mr-15px ml-15px pt-15px pb-5px font-weight-bold">
    Custom Inbox Settings
  </div>

  <div class="w-100 border-color-grey border-bottom"></div>

  <div class="pt-15px pb-15px">
    <span class="messages-filter-menu__title">Only show</span>

    <div class="w-100 d-flex pl-5px mt-15px flex-column messages-filter-menu__checkboxes">
      <div class="mt-5px d-flex flex-row align-items-center">
        <button
          class="checkbox-circle"
          [ngClass]="{ checked: messageFilterHoldsMe }"
          (click)="messageFilterHoldsMe = !messageFilterHoldsMe"
        >
          <i-feather name="check"></i-feather>
        </button>
        <span>Holders</span>
      </div>

      <div class="mt-5px d-flex flex-row align-items-center">
        <button
          class="checkbox-circle"
          [ngClass]="{ checked: messageFilterIHold }"
          (click)="messageFilterIHold = !messageFilterIHold"
        >
          <i-feather name="check"></i-feather>
        </button>
        <span>Holdings</span>
      </div>

      <div class="mt-5px d-flex flex-row align-items-center">
        <button
          class="checkbox-circle"
          [ngClass]="{ checked: messageFilterFollowingMe }"
          (click)="messageFilterFollowingMe = !messageFilterFollowingMe"
        >
          <i-feather name="check"></i-feather>
        </button>
        <span>Followers</span>
      </div>

      <div class="mt-5px d-flex flex-row align-items-center">
        <button
          class="checkbox-circle"
          [ngClass]="{ checked: messageFilterIFollow }"
          (click)="messageFilterIFollow = !messageFilterIFollow"
        >
          <i-feather name="check"></i-feather>
        </button>
        <span>Following</span>
      </div>
    </div>
  </div>
  <div class="w-100 border-color-grey border-bottom"></div>
  <div class="mt-15px">
    <span class="messages-filter-menu__title">Order by</span>
    <div class="w-100 mt-15px">
      <div class="btn-group w-90" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn messages-filter-menu__dropdown"
          aria-controls="dropdown-basic"
        >
          {{ sortAlgorithmToText() }}
          <i-feather name="chevron-down" class="feather-small position-absolute" style="right: 12px;"></i-feather>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item fs-16px" (click)="setSortAlgorithm('time')">Most recent</a></li>
          <li role="menuitem"><a class="dropdown-item fs-16px" (click)="setSortAlgorithm('clout')">Most DESO</a></li>
          <li role="menuitem">
            <a class="dropdown-item fs-16px" (click)="setSortAlgorithm('followers')">Most followed</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item fs-16px" (click)="setSortAlgorithm('holders')">Largest Holder</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="d-flex flex-center w-100 pb-15px">
    <div class="w-100 messages-filter-menu__buttons">
      <button
        (click)="updateGlobalMessagesPreferences()"
        class="btn"
      >
        Update
      </button>
      <a (click)="closePopUp()">Cancel</a>
    </div>
  </div>
</div>
