
<div class="mt-15px w-100 divtext">
  Filter for:<br>
</div>

<div class="mt-15px w-100 d-flex flex-row" style="vertical-align: middle">
  <label class="cursor-pointer d-flex flex-row w-20"><input type="checkbox" name="checkbox" value="value">Text</label>
</div>

<div class="d-flex flex-row">
  <div class="mt-15px w-30 divtext">
    Sort By:
  </div>

  <div class="d-flex flex-center w-70 pb-15px">
    <div class="btn-group d-flex flex-center pl-20px pr-20px w-100 pt-15px" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle text-grey6"
              aria-controls="dropdown-basic">
        {{sortAlgorithmToText()}}<span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu pl-20px pr-20px w-100"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">Most recent first</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Most BitClout locked first</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Most followed first</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="d-flex flex-center w-100 pb-15px border-bottom border-color-grey">
  <!-- Apply -->
  <div class="w-100 btn-default">
    <button
      (click)="updateGlobalMessagesPreferences()"
      class="btn btn-primary btn-lg font-weight-bold fs-13px mt-5px"
    >
      Update
    </button>
  </div>
</div>
