<div *ngIf="globalVars.loggedInUser && !globalVars.loggedInUser.JumioVerified" class="w-100 jumio-status">
  <!-- User completed Jumio flow, but we haven't received the Jumio callback yet-->
  <div *ngIf="globalVars.loggedInUser.JumioFinishedTime && !globalVars.loggedInUser.JumioReturned"
       class="d-flex align-items-center font-weight-normal justify-content-between">
    <div>
      <i-feather name="clock"></i-feather>
      <span>Your free {{ globalVars.nanosToUSD(globalVars.jumioBitCloutNanos, 0) }} will arrive in about a minute.</span>
    </div>
  </div>
  <!-- User hasn't tried jumio flow -->
  <div *ngIf="!globalVars.loggedInUser.JumioFinishedTime" (click)="globalVars.launchGetFreeCLOUTFlow()"
       class="d-flex align-items-center font-weight-normal justify-content-between">
    <div class="cursor-pointer">
      <i-feather name="gift"></i-feather>
      <span>Click here to get your free {{ globalVars.nanosToUSD(globalVars.jumioBitCloutNanos, 0) }}</span>
      <i-feather name="chevron-right"></i-feather>
    </div>
  </div>
  <!-- User tried Jumio but verification failed-->
  <div *ngIf="globalVars.loggedInUser.JumioFinishedTime && globalVars.loggedInUser.JumioReturned" (click)="globalVars.launchGetFreeCLOUTFlow()"
       class="d-flex align-items-center font-weight-normal justify-content-between">
    <div class="cursor-pointer">
      <i-feather name="gift"></i-feather>
      <span>Your robot check failed. Click here to try again.</span>
      <i-feather name="chevron-right"></i-feather>
    </div>
  </div>
</div>
