<div class="modal-header">
  <div class="modal-header-x" (click)="bsModalRef.hide()">
    <i-feather name="x"></i-feather>
  </div>
</div>
<div *ngIf="readyForDisplay(); else loadingElseBlock">
  <div *ngIf="this.appData.loggedInUser; else elseBlock">
    <div class="buy-bitclout__container">
      <div class="px-16px" *ngIf="screenToShow !== this.TRADE_CREATOR_PREVIEW_SCREEN">
        <div class="d-flex">
          <a
            class="d-none d-lg-block creator-profile__avatar mr-15px"
            [avatar]="creatorCoinTrade.creatorProfile.PublicKeyBase58Check"
          ></a>
          <div class="d-flex flex-column justify-content-center fc-default">
            <div class="fs-24px">{{globalVars.addOwnershipApostrophe(creatorCoinTrade.creatorProfile.Username)}} coin</div>
            <div class="fs-17px">
              <span>≈{{ globalVars.nanosToUSD(creatorCoinTrade.creatorProfile.CoinPriceBitCloutNanos, 2) }} </span>
              <span class="fc-muted">Coin Price</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Tabs -->
      <tab-selector
        [buttonSelector]="false"
        [tabs]="tabList"
        [activeTab]="creatorCoinTrade.tradeType"
        (tabClick)="_handleTabClick($event)"
        *ngIf="!inTutorial && screenToShow !== this.TRADE_CREATOR_PREVIEW_SCREEN"
      ></tab-selector>

      <!--Preview Header-->
      <div *ngIf="screenToShow === this.TRADE_CREATOR_PREVIEW_SCREEN && !inTutorial" class="mt-5px m-16px mint-nft__title">
        Confirm Operation
      </div>

      <!--Preview Header-->
      <div *ngIf="screenToShow === this.TRADE_CREATOR_PREVIEW_SCREEN && inTutorial" class="p-16px">
        <div class="d-flex align-items-center">
          <div
            class="simple-profile-card__avatar br-12px"
            [avatar]="creatorCoinTrade.creatorProfile.PublicKeyBase58Check"
          ></div>
          <div class="ml-16px fs-20px font-weight-bold">Buy {{ creatorCoinTrade.creatorProfile.Username }} Coin</div>
        </div>
        <div class="mt-20px" *ngIf="creatorCoinTrade.tradeType === buyVerb">
          You can invest directly in your favorite creators by buying their coin. Click "Confirm Buy" to purchase
          {{ creatorCoinTrade.assetToSellAmountInUsd() | currency }}
          worth of {{ globalVars.addOwnershipApostrophe(creatorCoinTrade.creatorProfile.Username) }} coin!
        </div>
        <div class="mt-20px" *ngIf="creatorCoinTrade.tradeType === sellVerb">
          When a creator's coin goes up in value you can sell.
          <br />
          <br />
          <b>
            Click "Confirm Sell" to sell
            {{ creatorCoinTrade.assetToSellAmountInUsd() | currency }}
            worth of {{ globalVars.addOwnershipApostrophe(creatorCoinTrade.creatorProfile.Username) }} coin!
          </b>
        </div>
      </div>

      <!-- Content -->
      <div *ngIf="screenToShow == this.TRADE_CREATOR_FORM_SCREEN">
        <trade-creator-form
          [creatorCoinTrade]="creatorCoinTrade"
          [hideWarning]="hideWarning"
          (previewClicked)="_onPreviewClicked()"
          (buyCloutClicked)="openBuyCloutModal()"
          (closeModal)="bsModalRef.hide()"
        ></trade-creator-form>
      </div>

      <div *ngIf="screenToShow == this.TRADE_CREATOR_PREVIEW_SCREEN">
        <trade-creator-preview
          [inTutorial]="inTutorial"
          [creatorCoinTrade]="creatorCoinTrade"
          (slippageError)="_onSlippageError()"
          (backButtonClicked)="_onBackButtonClicked()"
          (tradeExecuted)="_onTradeExecuted()"
        ></trade-creator-preview>
      </div>

      <div *ngIf="screenToShow == this.TRADE_CREATOR_COMPLETE_SCREEN">
        <trade-creator-complete
          [creatorCoinTrade]="creatorCoinTrade"
          (tradeAgainButtonClicked)="_onBackButtonClicked()"
          (viewWalletClicked)="bsModalRef.hide()"
        ></trade-creator-complete>
      </div>
    </div>
  </div>

  <ng-template #elseBlock>
    <trade-creator-logged-out [creatorCoinTrade]="creatorCoinTrade"></trade-creator-logged-out>
  </ng-template>
</div>
<ng-template #loadingElseBlock>
  <simple-center-loader></simple-center-loader>
</ng-template>
