<div *ngIf="creatorCoinTrade.isCreatorCoinTransfer(); else elseBlock">
  <!-- Amount you're transferring -->
  <div *ngIf="!displayForCreatorForm" class="py-3 border-bottom d-flex justify-content-between flex-wrap">
    <span [ngClass]="{ 'font-weight-bold': !displayForCreatorForm }">Recipient</span>

    <div class="d-inline-block" style="max-width: 70%; overflow-wrap: anywhere">
      <span *ngIf="creatorCoinTrade.transferRecipient.value.length > 25; else usernameRecipient">
        {{ creatorCoinTrade.transferRecipient.value }}
      </span>
      <ng-template #usernameRecipient>@{{ creatorCoinTrade.transferRecipient.value }}</ng-template>
    </div>
  </div>

  <!-- Amount you're transferring -->
  <div class="py-3 border-bottom d-flex justify-content-between flex-wrap">
    <span [ngClass]="{ 'font-weight-bold': !displayForCreatorForm }">You're transferring</span>

    <div class="d-inline-block">
      {{ creatorCoinTrade.amount.value | number: "0.0-9" }}
      {{ creatorCoinTrade.assetToSellString() }}
    </div>
  </div>

  <!-- Network fee -->
  <div class="py-3 border-bottom d-flex justify-content-between flex-wrap">
    <span [ngClass]="{ 'font-weight-bold': !displayForCreatorForm }">Network Fee</span>

    <div class="d-inline-block" style="text-align: end">
      {{ globalVars.nanosToBitClout(creatorCoinTrade.networkFeeNanos, 9) }}
      BitClout

      <span *ngIf="!creatorCoinTrade.isBuyingCreatorCoin" class="d-none d-lg-inline">
        ≈ {{ globalVars.nanosToUSD(creatorCoinTrade.networkFeeNanos, 9) }}
        USD
      </span>

      <div *ngIf="!creatorCoinTrade.isBuyingCreatorCoin" class="d-lg-none" style="text-align: end">
        ≈ {{ globalVars.nanosToUSD(creatorCoinTrade.networkFeeNanos, 9) }}
        USD
      </div>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <!-- Amount you're selling -->
  <div class="py-3 border-bottom d-flex justify-content-between flex-wrap">
    <span [ngClass]="{ 'font-weight-bold': !displayForCreatorForm }">You're exchanging</span>

    <div class="d-inline-block">
      {{ creatorCoinTrade.assetToSellAmount() | number: "0.0-9" }}
      {{ creatorCoinTrade.assetToSellString() }}

      <span *ngIf="creatorCoinTrade.isBuyingCreatorCoin" class="text-muted">
        ≈ {{ creatorCoinTrade.assetToSellAmountInUsd() | currency }}
        USD
      </span>
    </div>
  </div>

  <!-- Amount you're receiving -->
  <div class="py-3 border-bottom d-flex justify-content-between flex-wrap">
    <span [ngClass]="{ 'font-weight-bold': !displayForCreatorForm }">You receive</span>

    <div class="d-inline-block">
      {{ creatorCoinTrade.assetReturnedAmount() | number: "0.0-9" }}
      {{ creatorCoinTrade.assetReturnedString() }}

      <span *ngIf="!creatorCoinTrade.isBuyingCreatorCoin">
        ≈ {{ creatorCoinTrade.assetReturnedAmountInUsd() | currency }}
        USD
      </span>
    </div>
  </div>

  <!-- Price -->
  <div
    *ngIf="creatorCoinTrade.bitCloutPriceOfCreatorCoin()"
    class="py-3 border-bottom d-flex justify-content-between flex-wrap"
  >
    <span [ngClass]="{ 'font-weight-bold': !displayForCreatorForm }">Price per coin</span>

    <div class="d-inline-block">
      ~{{ creatorCoinTrade.bitCloutPriceOfCreatorCoin().toFixed(4) }}
      BitClout

      <span class="text-muted">
        ≈ {{ creatorCoinTrade.usdPriceOfCreatorCoin() | currency }}
        USD
      </span>
    </div>
  </div>

  <!-- Founder's Reward Warning -->
  <div
    *ngIf="creatorCoinTrade.expectedFounderRewardNanos && creatorCoinTrade.expectedFounderRewardNanos > 0"
    class="py-3 border-bottom text-muted d-flex"
  >
    <div class="mr-10px">
      <i class="fas fa-heart fa-md text-grey9"></i>
    </div>
    <div [ngClass]="{ 'text-danger': creatorCoinTrade.showFounderRewardWarning() }">
      @{{ creatorCoinTrade.creatorProfile.Username }} will receive
      <span class="font-weight-semibold">{{ creatorCoinTrade.getFoundersRewardPercent() | number: "0.0-9" }}%</span>
      of your purchase as a
      <span style="white-space: nowrap">
        founder reward
        <i
          (click)="tooltip.toggle()"
          class="fas fa-info-circle text-greyC fs-15px global__tooltip-icon"
          matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
          [matTooltip]="TradeCreatorTableComponent.FOUNDER_REWARD_EXPLANATION"
          #tooltip="matTooltip"
        ></i>
      </span>
    </div>
  </div>
</ng-template>
