<script src="../../environments/environment.prod.ts"></script>
<div class="position-relative">
  <div class="position-relative landing-page-container-1">
    <div class="position-relative d-flex justify-content-between mt-30px landing-page-top-bar">
      <div class="fc-landing-page d-flex align-items-center">
        <i-feather name="deso" class="feather-large fc-none"></i-feather>
        <span class="fs-25px ml-10px mr-25px">DeSo</span>
        <span class="ml-25px fs-16px">About</span>
        <span class="ml-20px fs-16px">Vision</span>
      </div>
      <div class="fc-landing-page">
        <span class="mr-15px">
          <i-feather name="lock" class="feather-medium mr-5px position-relative" style="top: -2px"></i-feather>
          Login
        </span>
        <button style="font-size: 16px; padding: 5px; width: 152px; height: 50px" class="landing-page-primary-btn landing-page-btn fs-16px">Sign up today</button>
      </div>
    </div>
  <!--  TODO: Put all of this styling into sensible classes.-->
    <!--Title text-->
    <div class="landing-page-content-container">
      <div style="position: absolute; top: 300px; width: 596px; z-index: 1">
        <h1 class="landing-page-header-main">Sit amet purus gravida</h1>
        <h3 class="landing-page-subtext" style="margin-top: 18px">
          Neque vitae tempus quam pellentesque nec nam. Dui ut ornare lectus sit.
        </h3>
        <div class="d-flex justify-content-between" style="margin-right: 30px; margin-top: 43px">
          <button class="landing-page-btn landing-page-primary-btn">Sign up today</button>
          <button class="landing-page-btn landing-page-secondary-btn">Explore artists</button>
        </div>
      </div>
      <div class="landing-page-nft-card-holder landing-page-robot-2">
        <img class="position-relative" src="/assets/img/example-nft-2.jpg" width="389.55px" height="447.11px" style="border-radius: 26.14px"/>
        <div class="position-relative d-flex justify-content-between fc-landing-page" style="top: 35px">
          <div class="d-flex flex-column">
            <div style="font-size: 26px; line-height: 28px; font-weight: 600">Mekaverse #147</div>
            <div style="font-size: 20px; font-weight: 600; line-height: 22px; margin-top: 10px">For Sale</div>
          </div>
          <div class="d-flex flex-column align-items-end">
            <div style="font-size: 20px; font-weight: 600; line-height: 22px; margin-top: 2px">Min Bid</div>
            <div class="d-flex justify-content-end" style="font-size: 26px; line-height: 28px; font-weight: 600; margin-top: 5px">
              <i-feather name="deso" class="feather-medium fc-none d-flex align-items-center mt-5px mr-16px"></i-feather>
              0.9
            </div>
          </div>
        </div>
      </div>
      <div class="landing-page-nft-card-holder landing-page-robot-1">
        <img class="position-relative" src="/assets/img/example-nft-1.jpg" width="389.55px" height="447.11px" style="border-radius: 26.14px"/>
        <div class="position-relative d-flex justify-content-between fc-landing-page" style="top: 35px">
          <div class="d-flex flex-column">
            <div style="font-size: 26px; line-height: 28px; font-weight: 600">Mekaverse #149</div>
            <div style="font-size: 20px; font-weight: 600; line-height: 22px; margin-top: 10px">For Sale</div>
          </div>
          <div class="d-flex flex-column align-items-end">
            <div style="font-size: 20px; font-weight: 600; line-height: 22px; margin-top: 2px">Min Bid</div>
            <div class="d-flex justify-content-end" style="font-size: 26px; line-height: 28px; font-weight: 600; margin-top: 5px">
              <i-feather name="deso" class="feather-medium fc-none d-flex align-items-center mt-5px mr-16px"></i-feather>
              0.9
            </div>
          </div>
        </div>
      </div>
      <!--Background blobs-->
      <div class="landing-page-blob-2 landing-page-svg"></div>
      <div class="landing-page-svg landing-page-blob-1"></div>
      <div class="landing-page-svg landing-page-blob-3"></div>
    </div>
  </div>
  <!--Second section-->
  <div class="landing-page-content-container">
    <div class="position-relative d-flex align-items-center justify-content-between" style="margin-bottom: 75px">
      <div>
        <div class="landing-page-svg position-relative" style="top: 67px; left: 90px; z-index: 1; width: 426.09px; height: 745.5px; background-image: url('/assets/img/landing-page-device.png')"></div>
        <div class="landing-page-svg landing-page-blob-5"></div>
        <div class="landing-page-svg landing-page-blob-4"></div>
        <div class="landing-page-svg landing-page-blob-6"></div>
      </div>
      <div style="width: 585px; z-index: 1; margin-left: 40px">
        <div class="landing-page-title">Lorum Ispum</div>
        <div class="d-flex mt-30px mr-20px">
          <i-feather name="landing-bullet-1" class="feather-medium position-relative mx-15px fc-none" style="top: 3px"></i-feather>
          <span class="landing-page-content-text">
            Ac tortor dignissim convallis aenean et tortor at risus. Etiam tempor
          </span>
        </div>
        <div class="d-flex mt-15px mr-20px">
          <i-feather name="landing-bullet-2" class="feather-medium position-relative mx-15px fc-none" style="top: 3px"></i-feather>
          <span class="landing-page-content-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          </span>
        </div>
        <div class="d-flex mt-15px mr-20px">
          <i-feather name="landing-bullet-3" class="feather-medium position-relative mx-15px fc-none" style="top: 3px"></i-feather>
          <span class="landing-page-content-text">
            Vel turpis nunc eget lorem.
          </span>
        </div>
      </div>
    </div>
    <div class="position-relative d-flex align-items-center justify-content-between" style="margin-bottom: 75px">
      <div style="width: 585px; z-index: 1; margin-left: 40px">
        <div class="landing-page-title">Lorum Ispum</div>
        <div class="d-flex mt-30px mr-20px">
          <i-feather name="landing-bullet-1" class="feather-medium position-relative mx-15px fc-none" style="top: 3px"></i-feather>
          <span class="landing-page-content-text">
            Ac tortor dignissim convallis aenean et tortor at risus. Etiam tempor
          </span>
        </div>
        <div class="d-flex mt-15px mr-20px">
          <i-feather name="landing-bullet-2" class="feather-medium position-relative mx-15px fc-none" style="top: 3px"></i-feather>
          <span class="landing-page-content-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          </span>
        </div>
        <div class="d-flex mt-15px mr-20px">
          <i-feather name="landing-bullet-3" class="feather-medium position-relative mx-15px fc-none" style="top: 3px"></i-feather>
          <span class="landing-page-content-text">
            Vel turpis nunc eget lorem.
          </span>
        </div>
      </div>
      <div>
        <div class="landing-page-svg position-relative" style="top: 67px; left: 90px; z-index: 1; width: 426.09px; height: 745.5px; background-image: url('/assets/img/landing-page-device.png')"></div>
        <div class="landing-page-svg landing-page-blob-5"></div>
        <div class="landing-page-svg landing-page-blob-4"></div>
        <div class="landing-page-svg landing-page-blob-6"></div>
      </div>
    </div>
  </div>
  <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 5000px; background-image: url('/assets/img/static.png')"></div>
</div>
