<div class="w-100">
  <div class="px-15px">
    <div class="fs-18px font-weight-bold">
      Enter an amount in USD to convert to BitClout
    </div>
    <div class="fs-18px py-15px d-flex" >
      <div class="d-inline-block" style="width: 50%;">
      <input class="form-control px-15px col"
             style="width: 100%"
             type="number"
             min="10"
             max="10000"
             step="1"
             matInput [(ngModel)]="amount" (input)="updateQuotation()">
      </div>
      <div class="px-15px">
        <button
          class="btn btn-primary font-weight-bold fs-15px px-15px"
          (click)="onBuyClicked()">Buy</button>
      </div>
    </div>
    <div class="fs-15px text-grey7" *ngIf="bitcloutReceived">
      Estimated BitClout received: {{ bitcloutReceived }}
    </div>
  </div>
</div>
