<div
  *ngIf="inTutorial"
  class="flex-grow-1 border"
  style="border-radius: 10px 10px 0px 0px"
>
  <div class="tutorial-header">
    <div class="d-flex justify-content-between">
      <div class="tutorial-title">Update Your Profile</div>
      <div class="fc-secondary fs-15px">Step 3/6</div>
    </div>
  </div>
</div>

<div *ngIf="this.loggedInUser.CanCreateProfile; else elseBlock">
  <div class="d-flex flex-column">
    <div style="flex-grow: 1">
      <simple-center-loader *ngIf="!globalVars.loggedInUser"></simple-center-loader>

      <!-- Create Profile Fee Warning -->
      <div
        *ngIf="
          !inTutorial &&
          !globalVars.loggedInUser?.ProfileEntryResponse &&
          ((!globalVars.loggedInUser?.HasPhoneNumber && !globalVars.loggedInUser?.JumioVerified) ||
            !globalVars.isCompProfileCreation) &&
          globalVars.createProfileFeeNanos > 0
        "
        class="p-15px bg-warning"
      >
        Creating a profile costs {{ globalVars.createProfileFeeInBitClout() }} DESO ≈
        {{ globalVars.createProfileFeeInUsd() }} USD.
        <br />
        This helps prevent spam.
      </div>
      <!-- Form Inputs -->
      <div class="mt-30px font-weight-bold update-profile__avatar-title">Avatar</div>
      <div class="update-profile__holder">
        <div class="update-profile__avatar">
          <div>
            <div *ngIf="profilePicInput != null && profilePicInput.length > 0">
              <div [style.background-image]="'url(' + profilePicInput + ')'"></div>
              <div *ngIf="profilePicInput">
                <div class="update-profile__image" [style.background-image]="'url(' + profilePicInput + ')'">
                  <div (click)="_resetImage()" class="update-profile__image-delete"><i-feather name="trash-2"></i-feather></div>
                </div>
              </div>
            </div>
            <div class="mt-10px" style="position: relative">
              <input
                class="file-upload-button"
                type="file"
                accept="image/png, image/jpeg"
                id="file"
                (change)="_handleFileInput($event.target.files)"
                style="
                  position: absolute;
                  left: 0;
                  top: 10px;
                  bottom: 0;
                  opacity: 0;
                  cursor: pointer;
                  width: 130px;
                  padding: 0;
                "
              />
              <button type="file">
                <i-feather name="refresh-cw"></i-feather>
                Upload Image
              </button>
            </div>
            <div>
              <div
                *ngIf="profilePicInput == null || profilePicInput.length == 0"
                [ngClass]="{ 'fc-red': profileUpdateErrors.profilePicError }"
                class="fs-13px text-grey5 mt-5px"
              >
                No image selected
              </div>
            </div>

          </div>
        </div>
        <div
          *ngIf="globalVars.loggedInUser"
          class="fs-18px px-15px global__mobile-scrollable-section disable-scrollbars update-profile__text"
        >
          <div class="update-profile__title update-profile__username">Username</div>
          <div>
            <input
              [(ngModel)]="usernameInput"
              class="form-control fs-15px lh-18px p-10px"
              placeholder="Enter username"
            />
            <div
              *ngIf="profileUpdateErrors.usernameError"
              [ngClass]="{ 'fc-red': profileUpdateErrors.usernameError }"
              class="fs-13px font-italic mt-5px"
            >
              Please set a username
            </div>
          </div>

          <div class="update-profile__title">Description</div>

          <div>
            <textarea
              [(ngModel)]="descriptionInput"
              class="fs-15px p-10px w-100"
              rows="4"
              maxlength="180"
            ></textarea>
            <div
              *ngIf="profileUpdateErrors.descriptionError"
              [ngClass]="{ 'fc-red': profileUpdateErrors.descriptionError }"
              class="fs-13px font-italic"
            >
              Description can only be 180 characters
            </div>
          </div>

          <div *ngIf="!inTutorial">
            <div class="update-profile__title">
              Founder Reward Percentage
              <i-feather
                name="info"
                (click)="tooltip.toggle()"
                matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
                [matTooltip]="founderRewardTooltip()"
                #tooltip="matTooltip"
              ></i-feather>
            </div>

            <div class="mt-10px position-relative">
              <input
                [(ngModel)]="founderRewardInput"
                min="0"
                max="100"
                type="number"
                class="form-control"
                [disabled]="globalVars.loggedInUser.UsersWhoHODLYouCount === 0"
              >
              <span class="update-profile__cc-percent-symbol"><i-feather name="percent"></i-feather></span>
              <div
                *ngIf="this.globalVars.loggedInUser.UsersWhoHODLYouCount === 0"
                class="fc-muted font-italic fs-13px pt-5px"
              >
                * You must purchase your own coin before lowering your founder reward.
              </div>
              <div
                *ngIf="profileUpdateErrors.founderRewardError"
                [ngClass]="{ 'fc-red': profileUpdateErrors.founderRewardError }"
                class="fs-13px font-italic pt-5px"
              >
                Please set a founder reward between 0-100.
              </div>
            </div>
            <div class="update-profile__title">Email</div>
            <div class="form-group">
              <input
                type="email"
                class="form-control fs-15px"
                placeholder="Enter an email address."
                [(ngModel)]="emailAddress"
                (ngModelChange)="_validateEmail($event)"
              />
              <div class="fc-red fs-15px" *ngIf="invalidEmailEntered">Please enter a valid email address.</div>
            </div>
            <div class="update-profile__title">BitClout Theme</div>
            <select
              name="theme"
              id="theme"
              (change)="selectChangeHandler($event)"
              style="padding: 6px 12px"
              class="form-control selector">
              <option
                *ngFor="let theme of themeService.themes"
                [value]="theme.key"
                [selected]="theme.key === themeService.theme">{{ theme.name }}</option>
            </select>
          </div>

          <div class="w-100 my-30px">
            <a
              (click)="_updateProfile()"
              [ngClass]="{ 'btn-loading': updateProfileBeingCalled }"
              class="btn update-profile__update-btn"
            >
              Update Profile
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="px-15px mt-30px">
    <update-profile-get-starter-bitclout></update-profile-get-starter-bitclout>
  </div>
</ng-template>
