<div app-theme class="nft-modal-container p-15px">
  <div class="w-100 d-flex justify-content-between py-15px">
    <div class="fs-20px d-flex align-items-center font-weight-500">Bid placed</div>
    <div class="fs-25px cursor-pointer pr-15px" (click)="bsModalRef.hide()">&times;</div>
  </div>

  <div class="pb-15px fs-15px">
    Your bid was successful. We will notify you when the auction closes.
  </div>

  <div class="font-weight-500 fs-15px pb-15px cursor-pointer" style="text-decoration-line: underline">Explore the Marketplace</div>
</div>
