<div class="row no-gutters border-bottom border-color-grey fc-muted">
  Create Order
  <div class="input-group py-5px">
    <div class="input-group-prepend" id="deso-label">
      <span class="input-group-text fs-15px">Price ($DESO)</span>
    </div>
    <input
      [(ngModel)]="orderPrice"
      aria-describedby="deso-label"
      class="form-control fs-15px text-right d-inline-block"
      type="number" min="0"
      placeholder="0"
    />
  </div>
  <div class="input-group py-5px">
    <div class="input-group-prepend" id="deso-label">
      <span class="input-group-text fs-15px">Quantity (Num Coins)</span>
    </div>
    <input
      [(ngModel)]="orderQuantity"
      aria-describedby="deso-label"
      class="form-control fs-15px text-right d-inline-block"
      type="number" min="0"
      placeholder="0"
    />
  </div>
  <div class="input-group py-5px">
    <div class="input-group-prepend" id="deso-label">
      <span class="input-group-text fs-15px">SIDE (BID | ASK)</span>
    </div>
    <input
      [(ngModel)]="orderSide"
      aria-describedby="deso-label"
      class="form-control fs-15px text-right d-inline-block"
      type="text"
      placeholder="BID"
    />
  </div>
  <button (click)="submitOrder()" class="btn btn-outline-primary fs-15px ml-5px">
    Submit Order
  </button>
</div>

<div class="row no-gutters border-bottom border-color-grey fc-muted">
  <div class="col-3 d-flex py-15px mb-0">Price ($DESO)</div>
  <div class="col-3 py-15px mb-0">Quantity</div>
  <div class="col-3 py-15px mb-0">Side</div>
  <div class="col-3 py-15px mb-0"></div>
</div>
<div *ngIf="!datasource.adapter.isLoading && datasource.adapter.itemsCount === 0" class="row no-gutters pt-10px">
  <div class="d-flex align-items-center" style="margin-bottom: 0">
    There are no open orders on the exchange for this DAO coin.
  </div>
</div>
<simple-center-loader *ngIf="datasource.adapter.isLoading && loadingFirstPage"></simple-center-loader>
<div #uiScroll *uiScroll="let order of datasource">
  <div class="row no-gutters p-10px border-bottom mb-0">
    <div class="col-3 d-flex py-15px mb-0">{{ order.Price }}</div>
    <div class="col-3 py-15px mb-0">{{ order.Quantity }}</div>
    <div class="col-3 py-15px mb-0">{{ order.Side }}</div>
    <div class="col-3 py-15px mb-0">
      <button *ngIf="order.Cancel" (click)="order.Cancel()" class="btn btn-outline-primary fs-15px ml-5px">
        Cancel
      </button>
    </div>
  </div>
</div>
