<div *ngIf="!showBuyComplete; else showBuyCompleteElseBlock">
  <!-- Top Bar -->
  <div
    class="global__top-bar global__top-bar-height background-color-white d-flex align-items-center fs-18px font-weight-bold pl-15px border-bottom border-color-grey"
    style="z-index: 1"
  >
    <top-bar-mobile-navigation-control
      class="mr-15px d-lg-none d-inline-block"
    ></top-bar-mobile-navigation-control>
    Buy $DESO
  </div>

  <div class="global__top-bar__height"></div>

  <div class="d-flex flex-column">
    <div style="flex-grow: 1">
      <div
        class="global__mobile-scrollable-section disable-scrollbars"
        *ngIf="!waitingOnTxnConfirmation"
      >
        <div class="pb-15px">
          <tab-selector
            [tabs]="buyTabs"
            [activeTab]="activeTab"
            (tabClick)="_handleTabClick($event)"
          ></tab-selector>
        </div>
        <div *ngIf="activeTab === BuyDeSoComponent.BUY_WITH_HEROSWAP">
          <buy-deso-heroswap></buy-deso-heroswap>
        </div>
        <div *ngIf="activeTab === BuyDeSoComponent.BUY_WITH_USD">
          <buy-deso-usd></buy-deso-usd>
        </div>
        <!-- SPACER FOR BOTTOM BAR ON MOBILE -->
        <div class="global__bottom-bar-mobile-height"></div>
        <div class="global__bottom-bar-mobile-height"></div>
      </div>
    </div>

    <div *ngIf="waitingOnTxnConfirmation" class="px-5">
      <simple-center-loader
        titleLoadingText="Waiting for confirmation"
        subtitleLoadingText="We are broadcasting your transaction to the blockchain. This can take up to a minute."
      ></simple-center-loader>
    </div>
  </div>
</div>

<ng-template #showBuyCompleteElseBlock>
  <buy-deso-complete
    (buyMoreDeSoClicked)="onBuyMoreDeSoClicked()"
  ></buy-deso-complete>
</ng-template>
