<div class="w-100 h-100 d-flex">
  <div class="w-100 d-flex justify-content-between align-items-center border-top border-color-grey">
    <bottom-bar-mobile-tab
      class="w-100 h-100 text-center"
      [link]="'/' + globalVars.RouteNames.BROWSE"
      [queryParams]="{ feedTab: globalTab }"
    >
      <div class="d-flex flex-column justify-content-center align-items-center bottom-bar-mobile__text">
        <i-feather name="home" class="feather-medium"></i-feather>
        <div class="mt-5px">Home</div>
      </div>
    </bottom-bar-mobile-tab>

    <bottom-bar-mobile-tab
      *ngIf="globalVars.loggedInUser"
      class="w-100 h-100 text-center"
      [link]="'/' + globalVars.RouteNames.NOTIFICATIONS"
    >
      <div class="d-flex flex-column justify-content-center align-items-center bottom-bar-mobile__text">
        <i-feather name="bell" class="feather-medium"></i-feather>
        <div class="mt-5px">Notifications</div>
      </div>
    </bottom-bar-mobile-tab>

    <bottom-bar-mobile-tab
      *ngIf="globalVars.loggedInUser"
      class="w-100 h-100 text-center"
      [link]="'/' + globalVars.RouteNames.INBOX_PREFIX"
    >
      <div class="d-flex flex-column justify-content-center align-items-center bottom-bar-mobile__text">
        <i-feather name="message-square" class="feather-medium">
          <div
            *ngIf="globalVars.messageResponse && globalVars.messageResponse.NumberOfUnreadThreads != 0"
            class="bottom-bar__message-notifications-bubble roboto-mono"
          >
            {{
              globalVars.messageResponse.NumberOfUnreadThreads > 999
                ? "999+"
                : globalVars.messageResponse.NumberOfUnreadThreads
            }}
          </div>
        </i-feather>
        <div class="mt-5px">Messages</div>
      </div>
    </bottom-bar-mobile-tab>

    <bottom-bar-mobile-tab
      *ngIf="globalVars.loggedInUser"
      class="w-100 h-100 text-center"
      [link]="'/' + globalVars.RouteNames.BROWSE"
      [queryParams]="{ feedTab: showcaseTab }"
    >
      <div class="d-flex flex-column justify-content-center align-items-center bottom-bar-mobile__text">
        <i-feather name="shopping-bag" class="feather-medium"></i-feather>
        <div class="mt-5px">Market</div>
      </div>
    </bottom-bar-mobile-tab>

    <bottom-bar-mobile-tab
      *ngIf="globalVars.loggedInUser"
      class="w-100 h-100 text-center"
      [link]="'/' + globalVars.RouteNames.WALLET"
    >
      <div class="d-flex flex-column justify-content-center align-items-center bottom-bar-mobile__text">
        <i-feather name="diamond" class="feather-medium"></i-feather>
        <div class="mt-5px">Wallet</div>
      </div>
    </bottom-bar-mobile-tab>
  </div>

  <!-- TODO: on mobile, if you click this, should it prompt you to log in?-->
  <a
    *ngIf="globalVars.loggedInUser && showPostButton"
    class="bottom-bar-mobile__create-post-circle rounded-circle link--unstyled bg-primary text-white"
    [routerLink]="'/' + globalVars.RouteNames.CREATE_POST"
    queryParamsHandling="merge"
  >
    <i-feather name="feather"></i-feather>
  </a>
</div>
