<div app-theme class="nft-modal-container p-15px">
  <nft-modal-header [header]="'Select a serial number'" [bsModalRef]="bsModalRef"></nft-modal-header>
 
  <div class="fs-15px text-grey5 pt-15px pb-30px">
    Select an edition to start bidding.
  </div>

  <div class="container fs-15px pb-30px px-0px">
    <div class="row no-gutters background-color-white p-15px create-nft-auction-row-border"
         style="opacity: 50%">
      <div class="col-3 col-lg-2 mb-0px">
        <input type="checkbox" style="width: 15px"/>
        All
      </div>
      <div class="col-lg-3 d-none d-lg-block mb-0px">NFT Owner</div>
      <div class="col-lg-3 d-none d-lg-block mb-0px">Bid Owner</div>
      <div class="col mb-0px">Highest Bid</div>
    </div>
    <div style="max-height: 250px; overflow-y: scroll">
      <div *ngFor="let nft of sampleNftData"
           class="row no-gutters background-color-white p-15px mb-0px create-nft-auction-row-border">
        <div class="col-3 col-lg-2 mb-0px d-flex align-items-center">
          <input type="checkbox" style="width: 15px"/>
          <span class="lh-15px">&nbsp;#{{nft.SerialNumber}}</span>
        </div>
        <div class="col-lg-3 d-none d-lg-flex align-items-center">{{nft.NFTOwner}}</div>
        <div class="col-lg-3 d-none d-lg-flex align-items-center">{{nft.BidOwner}}</div>
        <div class="col mb-0px d-flex justify-content-between align-items-center">
          <div>
            {{globalVars.nanosToBitClout(nft.HighestBid)}} CLOUT
            <span class="text-grey7">(~{{globalVars.nanosToUSD(nft.HighestBid, 2)}})</span>
          </div>
          <div class="d-flex justify-content-center cursor-pointer" style="width: 50px">
            <i class="fas fa-chevron-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    class="btn btn-primary font-weight-bold fs-15px br-12px mb-15px"
    style="height: 36px; width: 170px; line-height: 15px"
    (click)="createAuction()"
  >
    Save Selection
  </button>

  <simple-center-loader *ngIf="loading"></simple-center-loader>
</div>
