<div class="global__nav__width">
  <div class="global__nav__fixed">
    <!-- Logged-in Left Bar -->
    <div *ngIf="globalVars.loggedInUser != null" class="global__nav__inner">
      <div *ngIf="isMobile" class="d-flex w-100 align-items-center fs-24px font-weight-bold" style="height: 80px">
        <div class="flex-grow-1 d-flex justify-content-end pl-30px cursor-pointer">
          <i class="fas fa-times fc-muted" (click)="closeMobile.emit()"></i>
        </div>
      </div>

      <!-- Left Bar Buttons -->

      <div class="pt-15px"></div>

      <div class="left-desktop-selector">
        <left-bar-button [link]="homeLink()" [buttonLabel]="'Home'" [iconName]="'home'"></left-bar-button>
        <left-bar-button
          [link]="'/' + globalVars.RouteNames.NOTIFICATIONS"
          [buttonLabel]="'Notifications'"
          [isUnread]="globalVars.hasUnreadNotifications"
          [iconName]="'bell'"
        ></left-bar-button>
        <left-bar-button
          [hasNotifications]="true"
          [link]="'/' + globalVars.RouteNames.INBOX_PREFIX"
          [buttonLabel]="'Messages'"
          [iconName]="'message-square'"
        ></left-bar-button>
        <left-bar-button
          [link]="AppRoutingModule.profilePath(globalVars.loggedInUser.ProfileEntryResponse.Username)"
          [queryParams]="{ 'tab':'posts' }"
          [buttonLabel]="'My Profile'"
          [iconName]="'user'"
        ></left-bar-button>
        <left-bar-button [link]="'/' + globalVars.RouteNames.WALLET" [buttonLabel]="'My Wallet'" [iconName]="'diamond'"></left-bar-button>
        <left-bar-button
          [link]="'/' + globalVars.RouteNames.SEND_BITCLOUT"
          [buttonLabel]="'Trade Bitclout'"
          [iconName]="'trending-up'"
        ></left-bar-button>

        <div class="w-100 d-flex pt-15px pl-15px" *ngIf="globalVars.supportEmail" (click)="logHelp()">
          <a class="left-bar__dot-inactive" [href]="getHelpMailToAttr()" target="_blank">·</a>
          <a class="cursor-pointer fs-15px text-grey5" [href]="getHelpMailToAttr()" target="_blank">Help</a>
        </div>

        <div class="p-15px"></div>

        <left-bar-button
          *ngIf="globalVars.showAdminTools()"
          [link]="'/' + globalVars.RouteNames.ADMIN"
          [buttonLabel]="'Admin'"
          [iconName]="'codesandbox'"
        ></left-bar-button>
      </div>
    </div>

    <!-- Logged-out Left Bar -->
    <div *ngIf="globalVars.loggedInUser == null" class="global__nav__inner">
      <div *ngIf="isMobile" class="d-flex w-100 align-items-center fs-24px font-weight-bold" style="height: 80px">
        <div class="flex-grow-1 d-flex justify-content-end pl-30px">
          <i class="fas fa-times fc-muted" (click)="closeMobile.emit()"></i>
        </div>
      </div>

      <div class="pt-10px"></div>

      <div style="margin-left: 25px" class="mr-15px">
        <change-account-selector></change-account-selector>
      </div>

      <div class="pt-15px"></div>

      <!-- Left Bar Buttons -->
      <left-bar-button [link]="homeLink()" [buttonLabel]="'Home'"></left-bar-button>

      <left-bar-button
        [link]="'/' + globalVars.RouteNames.CREATORS"
        [buttonLabel]="'Buy Creator Coins'"
      ></left-bar-button>

      <left-bar-button
        [link]="'/' + globalVars.RouteNames.BUY_BITCLOUT"
        [buttonLabel]="'Buy $CLOUT'"
      ></left-bar-button>
    </div>
  </div>
</div>
