<div class="modal-header">
  <div class="modal-header-x" (click)="bsModalRef.hide()">
    <i-feather name="x"></i-feather>
  </div>
</div>
<div class="flex-grow-1">
  <div class="buy-bitclout__container">
    <div class="p-16px">
      <div class="mint-nft__title">Buy Creator Coin</div>
      <div class="mint-nft__sub-text">All creators have a coin. Buy your favorites and get on their team!</div>
    </div>

    <div>
      <!-- Headers -->
      <div class="fs-15px">
        <div class="row px-15px no-gutters border-bottom py-15px fc-muted" style="margin-left: 0; margin-right: 0">
          <div class="col mb-0">Name</div>

          <div class="col-2 mb-0 text-right" style="min-width: 100px">
            <div class="pl-15px">Price</div>
          </div>

          <!--Hide on mobile-->
          <div class="col mb-0 d-lg-block creators-leaderboard__controls-column">
            <!-- Controls-->
          </div>
        </div>
      </div>

      <simple-center-loader *ngIf="isLoadingProfilesForFirstTime"></simple-center-loader>

      <div class="viewport">
        <!-- Creator rows -->
        <div #uiScroll *uiScroll="let item of datasource" class="row no-gutters px-15px border-bottom fs-15px">
          <a
            class="col mb-0 py-15px link--unstyled"
            [routerLink]="['/' + globalVars.RouteNames.USER_PREFIX, item.Username]"
            queryParamsHandling="merge"
          >
            <div
              class="creators-leaderboard__avatar d-inline-block align-top rounded"
              [avatar]="item.PublicKeyBase58Check"
            ></div>
            <a class="d-inline-block mt-2 ml-3 fc-default">{{ item.Username }}</a>

            <span
              *ngIf="item.IsReserved && !item.IsVerified"
              class="d-inline-block ml-10px cursor-pointer fs-18px lh-12px fc-muted"
              matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
              [matTooltip]="'This profile is reserved. Click to learn how to claim it.'"
            >
              <i class="far fa-clock fa-md align-middle"></i>
            </span>

            <span
              *ngIf="item.IsVerified"
              (click)="tooltip.toggle()"
              class="ml-10px cursor-pointer fs-20px lh-12px text-primary"
              matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
              [matTooltip]="'This account is verified'"
              #tooltip="matTooltip"
            >
              <i class="fas fa-check-circle fa-md align-middle"></i>
            </span>
          </a>

          <a
            class="col-2 mb-0 mt-2 py-15px link--unstyled text-right"
            style="min-width: 100px"
            [routerLink]="['/' + globalVars.RouteNames.USER_PREFIX, item.Username]"
            queryParamsHandling="merge"
          >
            <div class="pl-15px">~{{ globalVars.nanosToUSD(item.CoinPriceBitCloutNanos, 2) }}</div>
          </a>

          <!--Hide on mobile-->
          <div class="col py-15px d-lg-block mb-0 creators-leaderboard__controls-column">
            <div class="pl-15px">
              <button
                class="primary-button"
                (click)="openBuyCreatorCoinModal($event, item.Username)"
                style="width: 78px"
              >
                Buy
              </button>
              <div *ngIf="appData.loggedInUser" class="d-inline-block text-right">
                <div class="ml-3 mt-1 align-top">
                  <div *ngIf="canLoggedInUserFollowTargetPublicKey(item.PublicKeyBase58Check)">
                    <follow-button
                      [displayAsLink]="true"
                      [followedPubKeyBase58Check]="item.PublicKeyBase58Check"
                    ></follow-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
